<p-dialog [visible]="postToReport" header="Report a post" [modal]="true"  >
    <div style="width: 75vw; min-height: 35vh" class="p-grid">
        <form [formGroup]="reportForm" (submit)="submit()">
            <span class="p-float-label">
              <input formControlName="description" id="float-input" type="text" pInputText class="w-full">
              <label for="float-input">We need some extra details</label>
            </span>
            <p-listbox [options]="reportOptions" optionLabel="label" formControlName="severity"></p-listbox>
            <p-checkbox [formControl]="$any(reportForm).controls['block']"  value="block" label="Block this user"></p-checkbox>
            <button [disabled]="!reportForm.valid" pButton pRipple label="Report" icon="pi pi-exclamation-triangle" class="w-full" type="submit"></button>
            <br>
            <button (click)="cancelReport()" pButton pRipple label="Cancel report"  class="w-full"></button>

          </form>
    </div>
</p-dialog>