button {
  aspect-ratio: 1 / 1;
  padding: 0;
  --mdc-text-button-container-height: 32px;
  border-radius: var(--mat-sys-corner-small);
}

.emojireact-overlay {
  max-width: 16rem;
  max-height: 16rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--mat-sys-surface-container-high);
  border-radius: var(--mat-sys-corner-small);
  box-shadow: var(--mat-sys-level3);
  overscroll-behavior: contain;
}
