
.emojireact-overlay {
    max-width: 250px;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--mdc-filled-text-field-container-color);
    border: 1px solid #888;
    border-radius: 8px;
}
