button {
  aspect-ratio: 1 / 1;
  padding: 0;
  --mdc-text-button-container-height: 32px;
  border-radius: var(--mat-sys-corner-small);
}


.emojireact-overlay {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--mat-sys-surface-container-high);
  border-radius: var(--mat-sys-corner-small);
  box-shadow: var(--mat-sys-level3);
  overscroll-behavior: contain;
  z-index: 9999
}

.emoji-away {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999
}
