// Colors
:root {
  --mat-menu-container-color: var(--mat-sys-surface-container-high);
}

// Allow tiny buttons
.mdc-button {
  min-width: unset !important;
}

// Circle button boilerplate style
.mat-circle-button {
  aspect-ratio: 1/1;
  padding: unset !important;
}

.mat-spinner-outline {
  border: 2px solid var(--mat-sys-outline-variant);
  border-radius: 100%;
  ::ng-deep & circle {
    transition: stroke 100ms linear;
  }
}

// Allow padding-less mat-form-field inputs
.mat-form-field-no-padding .mat-mdc-form-field-bottom-align::before {
  content: unset !important;
}

// Fix drawer border radius without requiring themes to use !important, though uses 0 2 0 specificity
:root .mat-drawer {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// Make sidebar buttons shorter
:root {
  --mat-list-list-item-one-line-container-height: 2rem;
}

// Basic element adjustments

:root .mat-typography {
  h1 {
    font-size: 2rem;
    line-height: 1.125;
  }
  h2 {
    font-size: 1.625rem;
    line-height: 1.125;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.125;
  }
  h4 {
    font-size: 1.15rem;
    line-height: 1.125;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.125;
  }
  h6 {
    font-size: 0.875rem;
    line-height: 1.125;
  }
}
