// Colors
:root {
  --mat-menu-container-color: var(--mat-sys-surface-container-high);
}

// Allow tiny buttons
.mdc-button {
  min-width: unset !important;
}

// Fix drawer border radius without requiring themes to use !important, though uses 0 2 0 specificity
:root .mat-drawer {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// Make sidebar buttons shorter
:root {
  --mat-list-list-item-one-line-container-height: 2rem;
}
