.blog-header {
  background-color: var(--mat-sys-surface-container-high);
}

.blog-url {
  color: var(--mat-sys-outline);
}

.split-button-left {
  padding-right: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 0;
}

.split-button-right {
  padding-left: 8px;
  padding-right: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.follow-counts > a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header-image {
  background-color: var(--mat-sys-surface-container-highest);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.1) inset,
    0 0 10px 0 rgba(0, 0, 0, 0.07) inset, 0 0 18px 0 rgba(0, 0, 0, 0.06) inset;
  border-radius: var(--mat-sys-corner-small) var(--mat-sys-corner-small) 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

mat-card:has(+ app-info-card) {
  margin-bottom: 0 !important;
}
