.blog-header-image {
  margin-top: -0.375rem;
  margin-inline: -0.375rem;
  background-color: var(--mat-sys-primary-fixed-dim);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.1) inset,
    0 0 10px 0 rgba(0, 0, 0, 0.07) inset, 0 0 18px 0 rgba(0, 0, 0, 0.06) inset;
  border-radius: var(--mat-sys-corner-small) var(--mat-sys-corner-small) 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blog-avatar-image {
  max-height: 15vh;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--mat-sys-corner-small);
  margin-top: calc(-1 * 15vh + 2.5rem);
  box-shadow: var(--mat-sys-level2);
}

.blog-header {
  background-color: var(--mat-sys-surface-container-high);
}

.blog-url {
  color: var(--mat-sys-outline);
}

.split-button-left {
  padding-right: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 0;
}

.split-button-right {
  padding-left: 8px;
  padding-right: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.subtle-title {
  color: var(--mat-sys-outline);
}

footer {
  margin-inline: -1rem;
  margin-bottom: -1rem;
  background-color: var(--mat-sys-surface-container);
  border-top: 1px solid light-dark(var(--mat-sys-outline-variant), #0000);
}

mat-card:has(+ app-info-card) {
  margin-bottom: 0 !important;
}
