<p-dialog [hidden]="!editorVisible" [header]="idPostToReblog ? 'Reblog a post' : 'Create new post'"
  [(visible)]="editorVisible" [modal]="true" [style]="{width: '75vw'}">
  <h2 *ngIf="idPostToReblog">You are reblogging the post. Your followers will see the full thread with your reply on it
  </h2>
  <p-overlayPanel #uploadImagesPanel>
    <div>
      <label for="description" class="block text-900 font-medium mb-2">Images description</label>
      <input [(ngModel)]="newImageDescription" id="description" type="text"
        pTooltip="Image description. Useful in the case of someone using a screen reader, or when the image does not load properly."
        tooltipPosition="top" pInputText class="w-full mb-3">

      <p-checkbox [(ngModel)]="newImageNSFW" [binary]="true" label="This images are NSFW"
        pTooltip="Is this image NSFW or does it contain explicit sexual content that is not suited to minors? Just mark this and go nuts"
        tooltipPosition="top"></p-checkbox>
    </div>
    <p-fileUpload name="image" [url]="uploadImageUrl" [multiple]="false"
      accept="image/jpeg,image/png,image/webp,image/gif,video/mp4" [auto]="true" (onUpload)="uploadImage($event)"
      
      [maxFileSize]="10000000" chooseLabel="Upload image or video"
      >
    </p-fileUpload>

  </p-overlayPanel>
    
  <quill-editor [(ngModel)]="postCreatorContent" 
    [modules]="modules" 
  >
  <div quill-editor-toolbar style="border-top-left-radius: 5px; border-top-right-radius: 5px;">
      <select class="ql-size">
        <option value="small"></option>
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>
      <button pButton type="button" class="ql-bold" aria-label="Bold"></button>
      <button pButton type="button" class="ql-italic" aria-label="Italic"></button>
      <button pButton type="button" class="ql-underline" aria-label="Underline"></button>
      <button pButton type="button" class="ql-strike" aria-label="Strike"></button>
      <button pButton type="button" class="ql-link" aria-label="Insert Link"></button>
    <button pButton #uploadImages
    (click)="uploadImagesPanel.show($event, uploadImages); displayUploadImagePanel = true"
    [icon]="'pi pi-upload'" label="Upload image" class="uploadImageButton"
      type="button"></button>

  </div>
  </quill-editor>



  <h5>Tags (comma separated)</h5>
  <p-chips [(ngModel)]="tags" separator=","></p-chips>

  <p-button
    ngHcaptchaInvisibleButton *ngIf="editorVisible"
    (verify)="captchaResolved($event)" (expired)="captchaExpired()"
    [disabled]="postBeingSubmitted" 
    >Submit</p-button>

</p-dialog>
