<p-dialog [hidden]="!editorVisible" [header]="idPostToReblog ? 'Reblog a post' : 'Create new post'"
  [(visible)]="editorVisible" [modal]="true" [style]="{width: '75vw'}">
  <h2 *ngIf="idPostToReblog">You are reblogging the post. Your followers will see the full thread with your reply on it
  </h2>
  <p-overlayPanel #uploadImagesPanel>
    <div>
      <label for="description" class="block text-900 font-medium mb-2">Images description</label>
      <input [(ngModel)]="newImageDescription" id="description" type="text"
        pTooltip="Image description. Useful in the case of someone using a screen reader, or when the image does not load properly."
        tooltipPosition="top" pInputText class="w-full mb-3">

      <p-checkbox [(ngModel)]="newImageNSFW" [binary]="true" label="This images are NSFW"
        pTooltip="Is this image NSFW or does it contain explicit sexual content that is not suited to minors? Just mark this and go nuts"
        tooltipPosition="top"></p-checkbox>
    </div>
    <p-fileUpload name="image" [url]="uploadImageUrl" [multiple]="false"
      accept="image/jpeg,image/png,image/webp,image/gif" [auto]="true" (onUpload)="uploadImage($event)"
      
      [maxFileSize]="10000000" chooseLabel="Upload image"
      >
    </p-fileUpload>

  </p-overlayPanel>
  <p-editor [(ngModel)]="postCreatorContent" [style]="{'height':'25vh'}">
    <ng-template pTemplate="header">
      <span class="ql-formats">
        <select class="ql-size">
          <option value="small"></option>
          <!-- Note a missing, thus falsy value, is used to reset to default -->
          <option selected></option>
          <option value="large"></option>
          <option value="huge"></option>
        </select>
        <button type="button" class="ql-bold" aria-label="Bold"></button>
        <button type="button" class="ql-italic" aria-label="Italic"></button>
        <button type="button" class="ql-underline" aria-label="Underline"></button>
        <button type="button" class="ql-link" aria-label="Insert Link"></button>
        <button type="button" class="ql-code-block" aria-label="Insert Code Block"></button>
        <button pButton #uploadImages
        (click)="uploadImagesPanel.show($event, uploadImages); displayUploadImagePanel = true"
        [icon]="'pi pi-upload'" label="Upload image"
          type="button"></button>


      </span>
    </ng-template>
  </p-editor>

  <h5>Tags (comma separated)</h5>
  <p-chips [(ngModel)]="tags" separator=","></p-chips>

  <p-captcha *ngIf="!postBeingSubmitted && editorVisible" (onResponse)="captchaResolved($event)"
    (onExpire)="captchaExpired()" [siteKey]="captchaKey" theme="dark" size="big">
  </p-captcha>

  <p-button [disabled]="captchaResponse == undefined" (onClick)="submitPost()">Submit</p-button>

</p-dialog>
