@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-VF.woff2') format('woff2-variations'),
       url('FiraCode-VF.woff') format('woff-variations');
  font-weight: 300 700;
  font-style: normal;
}
