<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted">

    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
      <div class="text-center mb-5">
        <img src="/assets/logo.png" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Don't worry, we also forget a lot of things</div>
        <span class="text-600 font-medium line-height-3">But you should try a password manager!</span>
        <br>
        <span class="text-600 font-medium line-height-3">Don't have an account?</span>
        <a routerLink="/register" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Register now!</a>
        <br>
        <span class="text-600 font-medium line-height-3">Did you just remembered your password?</span>
        <a routerLink="/" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Thats great! log in now!</a>
      </div>
  
      <form [hidden]="loading" [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
        <label for="email1" class="block text-900 font-medium mb-2">Email</label>
        <input formControlName="email" id="email1" type="text" pKeyFilter="email" pInputText class="w-full mb-3">
  
        <div class="flex align-items-center justify-content-between mb-3">
          <p-captcha (onResponse)="captchaResolved($event)"
          (onExpire)="captchaExpired()"
          [siteKey]="captchaKey" theme="dark" size="big">
          </p-captcha>
        </div>
        <button [disabled]="!loginForm.valid" pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
      </form>
    </div>
  </div>
  