<div *ngIf="ready" class="grid pb-6 scalein animation-duration-400">
  <div 
    class="col-12 sm:col-12 md:col-12 lg:col-6 lg:col-offset-3"
    >
  
  
    <p-card>
      <div class="grid">
        <div class="col-11 ">
          <img [src]="mediaBaseUrl + post[post.length - 1].user.avatar" class="avatar" />
          <a [href]="'/blog/'+ urls[post.length -1]">{{post[post.length -1].user.url}}</a>
          {{ post.length > 1 ? ' reblogged' : ' posted'}}
        </div>
        <div class="col-1 justify-content-end">
          <i (click)="sharePost(post[post.length - 1].id)" class="pi pi-share-alt"></i>
        </div>
      </div>
  
      <div *ngFor="let content of post; index as index">
        <p-divider *ngIf="post.length > 1 && content.content != ''"></p-divider>
        <div *ngIf="content.content != ''" class="fragment-header">
          <div class="grid grid-nogutter" style="width: 100%;">
            <div class="col-7 ">
              <img [src]="mediaBaseUrl + content.user.avatar" class="avatar" /> <a
                [href]="'/blog/'+ urls[index]">{{content.user.url}}</a>
            </div>
            <div class="col-1">
              <i (click)="sharePost(content.id)" class="pi pi-share-alt"></i>
            </div>
            <div class="col-4">
              <button *ngIf="followedUsers.indexOf(content.userId) === -1 && userLoggedIn" pButton pRipple label="Follow"
                class="w-full" (click)="followUser(content.userId)"></button>
              <button *ngIf="followedUsers.indexOf(content.userId) !== -1 && userLoggedIn" pButton pRipple
                label="Unfollow" class="w-full" (click)="unfollowUser(content.userId)"></button>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="content.content != ''" class="fragment-content ql-editor" [injectHTML]="sanitizedPostContent[index]">
        </div>
        <div *ngIf="content.content != '' && content.tags">
          <a *ngFor="let tag of content.tags" [routerLink]="'/dashboard/search/' + tag.tagName" >
            <p-tag [value]="'#' +tag.tagName"></p-tag>
          </a>
  
        </div>
  
      </div>
  
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
  
        <div class="grid">
          <div class="col-8 flex justify-content-start">
            Notes: {{notes}}
          </div>
          <div *ngIf="userLoggedIn" class="col-4 flex justify-content-end">
            <div class="grid">
              <i
               #quickReblogButton (click)="quickReblogPanel.show($event, quickReblogButton)"
               *ngIf="!quickReblogDoneSuccessfully"
               class="col-4 pi pi-history"></i>
              <i (click)="launchReblog()" class="col-4 pi pi-replay"></i>
              <i (click)="reportPost()" class="col-4 pi pi-exclamation-triangle"></i>
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<p-overlayPanel (onShow)="showQuickReblogOverlay()"
(onHide)="hideQuickReblogOverlay()"
#quickReblogPanel >
  <ng-template pTemplate>
      <div>
        Quick reblog
      </div>
      <p-captcha *ngIf="!quickReblogBeingDone && quickReblogPanelVisible"
      (onResponse)="captchaResolved($event)" (onExpire)="captchaExpired()"
      [siteKey]="captchaKey" theme="dark"
      size="big"
      >
    </p-captcha>
      <button pButton pRipple
        label="Quick reblog" class="w-full"
        (click)="quickReblogPanel.hide()" (click)="quickReblog()"
        [disabled]="captchaResponse == undefined"
        ></button>
  </ng-template>
</p-overlayPanel>
