.avatar {
    max-height: 2em;
    max-width: 2em;
    border-radius: 25%;
}

.center-text {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
}

.share-button {
    gap: 0.5em
}