<button pButton *ngIf="buttonVisible" icon="pi pi-bars"
type="button" class="p-button-raised p-button-rounded show-sidebar-menu-button"
(click)="showMenu()"
></button>

<p-sidebar [(visible)]="menuVisible" [modal]="true">
    <img loading="lazy" src="/assets/logo.png" class="w-full">
    <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
</p-sidebar>

<!-- This is a little bit of a dirty trick, should actually check stuff, but fuck it -->
<p-sidebar [visible]="true" [modal]="false" class="left-menu-hidden-mobile" [showCloseIcon]="false">
    <img loading="lazy" src="/assets/logo.png" class="w-full">
    <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
</p-sidebar>


<div class="pt-7">
    <router-outlet></router-outlet>
</div>
