.wafrn-toolbar {
  bottom: unset;
  border-top: unset;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  box-shadow: var(--mat-sys-level2);
}

.refresh-button {
  top: calc(56px + 1em);
}

/* Small-Screen media queries. */
@media screen and (max-width: 992px) {
  .wafrn-content {
    padding-top: calc(64px + 1em);
  }

  .wafrn-post-editor {
    margin-top: 3rem;
  }

  .refresh-button {
    bottom: unset;
    top: calc(64px + 1em);
  }
}

/* mat-toolbar breakpoint */
@media screen and (max-width: 599px) {
  .wafrn-content {
    padding-top: calc(56px + 1em);
  }
}
