<ng-container *ngIf="fragment">
  <div
    id="fragment-content-warning"
    *ngIf="fragment.content_warning"
    [ngClass]="{ blurry: !showCw }"
  >
    <div class="fragment-content ql-editor -mx-3">
      {{ fragment.content_warning }}
    </div>
    <button
      mat-flat-button
      color="primary"
      (click)="dismissCw.emit()"
      class="w-full"
    >
      I understand this and I want to see this woot
    </button>
  </div>
  <div
    *ngIf="fragment.content !== '' || fragment.tags.length"
    class="fragment-content text-base ql-editor -mx-3"
    [ngClass]="{ blurry: fragment.content_warning && showCw }"
    [injectHTML]="fragment.content"
  ></div>
  <div
    *ngIf="fragment.questionPoll"
    [ngClass]="{ blurry: fragment.content_warning }"
  >
    <app-poll [poll]="fragment.questionPoll"></app-poll>
  </div>
  <div
    *ngFor="let media of fragment.medias"
    [ngClass]="{ blurry: fragment.content_warning }"
  >
    <app-wafrn-media [data]="media"></app-wafrn-media>
  </div>
  <div
    id="fragment-tags"
    class="flex flex-wrap gap-2 mt-4"
    *ngIf="fragment.tags && fragment.tags.length"
    [ngClass]="{ blurry: fragment.content_warning }"
  >
    @for(tag of fragment.tags; track tag) {
    <a class="tag" [routerLink]="'/dashboard/search/' + tag.tagName">
      #{{ tag.tagName }}
    </a>
    }
  </div>
</ng-container>
