<div class="grid">
  <div id="firstPost" class="col-12 sm:col-12 md:col-12 lg:col-5 margin-auto pb-6">

    <p-card  class="xs:w-full md:w-75 lg:w-75">
      <span class="text-600 font-medium line-height-3">Welcome to our public alpha! If you experience any kind of
        issues, please
        contact us at the email <a href="mailto:suggestions@wafrn.net">suggestions@wafrn.net</a></span>
      <br>
      <span class="text-600 font-medium line-height-3">You can search users by url and description, and posts by
        tags. No need to add # to your search.</span>
      <br>
      <span class="text-600 font-medium line-height-3">Have fun!</span>
      <br>
      <br>
      <form [formGroup]="searchForm" (submit)="submitSearch()">
        <span class="p-float-label">
          <input formControlName="search" id="float-input" type="text" pInputText class="w-full">
          <label for="float-input">Search term</label>
        </span>
        <button pButton pRipple label="Search" icon="pi pi-search" class="w-full" type="submit"></button>
      </form>

    </p-card>

  </div>
</div>




<div class="grid">
  <div [hidden]="!(users && users.length > 0)"
    class="col-12 sm:col-12 md:col-12 lg:col-4 margin-auto pb-6">
  
    <p-carousel [value]="users" [showIndicators]="false">
      <ng-template let-user pTemplate="item">
        <p-card *ngIf="user">
          <div class="product-item-content">
            <div class="p-mb-3  flex justify-content-center">
              <img [src]="baseMediaUrl + user.avatar" style="max-width: 30vw; max-height: 30vh;">
            </div>
            <div>
              <h4 class="p-mb-1"><a [routerLink]="'/blog/' + user.url">{{user.url}}</a></h4>
              <h6 class="p-mt-0 p-mb-3">{{user.description}}</h6>
              <button *ngIf="followedUsers.indexOf(user.id) === -1 && userLoggedIn" pButton pRipple label="Follow"
                class="w-full" (click)="followUser(user.id)"></button>
              <button *ngIf="followedUsers.indexOf(user.id) !== -1 && userLoggedIn" pButton pRipple label="Unfollow"
                class="w-full" (click)="unfollowUser(user.id)"></button>
            </div>
          </div>
        </p-card>
  
      </ng-template>
    </p-carousel>
  </div>

</div>

<div [hidden]="!(posts && posts.length > 0)">

  <div *ngFor="let post of posts" pDefer (onLoad)="countViewedPost()">
    <ng-template>
      <app-post [post]="post"></app-post>
    </ng-template>
  </div>
</div>


<div class="grid pb-6" *ngIf="loading">
  <div class="col-12 sm:col-12 md:col-12 lg:col-5 margin-auto">
    <p-card class="flex justify-content-center flex-wrap">
      <p-progressSpinner class="flex align-items-center justify-content-center "></p-progressSpinner>

    </p-card>
  </div>
</div>
