.taglist {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  padding: 0 6px;
  cursor: pointer;
  background-color: #8531a9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
  line-height: 16px;
  padding-top: 2px;
  word-break: break-all;
}

.grid {
  margin: 0;
}

.grid > div {
  border: 1px solid #999;
  border-radius: 8px;
}

.below-editor-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
}
