<h2 mat-dialog-title *ngIf="idPostToReblog">
  You are replying to the post. Your followers will see the full thread with
  your reply on it.
</h2>

<mat-dialog-content>
  <div class="mt-4 mb-2">
    <mat-form-field class="w-full">
      <mat-label>Privacy</mat-label>
      <mat-select [required]="true" [(value)]="privacy">
        @for(option of privacyOptions; track option) {
        <mat-option [value]="option.level">{{ option.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <input
      [(ngModel)]="contentWarning"
      pInputText
      class="w-full"
      placeholder="Content warning"
    />
  </div>
  <quill-editor
    #quill
    class="w-full"
    [(ngModel)]="postCreatorContent"
    [modules]="modules"
    [customOptions]="customOptions"
  >
    <div
      quill-editor-toolbar
      style="border-top-left-radius: 5px; border-top-right-radius: 5px"
    >
      <select class="ql-size" title="Text Size">
        <option value="small"></option>
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>
      <span class="ql-align">
        <button class="ql-list" value="bullet"></button>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <button
        pButton
        type="button"
        class="ql-bold"
        aria-label="Bold"
        title="Bold"
      ></button>
      <button
        pButton
        type="button"
        class="ql-italic"
        aria-label="Italic"
        title="Italic"
      ></button>
      <button
        pButton
        type="button"
        class="ql-underline"
        aria-label="Underline"
        title="Underline"
      ></button>
      <button
        pButton
        type="button"
        class="ql-strike"
        aria-label="Strike"
        title="Strike"
      ></button>
      <button
        pButton
        type="button"
        class="ql-link"
        aria-label="Insert Link"
        title="Insert Link"
      ></button>
      <button
        pButton
        type="button"
        class="ql-code-block"
        aria-label="Code block"
        title="Code block"
      ></button>
    </div>
  </quill-editor>
  <!--
<p-tag
  severity="danger"
  *ngIf="postCreatorContent?.includes('<img')"
  value="You seem to have pasted images in the editor. The image will NOT be visible once you post. Please use the upload tool on the top bar of the editor"
></p-tag>
-->

  <p-chips
    class="p-fluid"
    [(ngModel)]="tags"
    separator=","
    placeholder="Tags separated by commas."
  ></p-chips>
  <div class="mt-4 mb-2">
    <!--
<p-tag
    class="p-fluid"
    severity="info"
    *ngIf="privacy.level === 10"
    value="Attention! ADMINS both of your instance and the target instance can read the DMs"
  ></p-tag>
  --></div>
  <div>
    <div *ngIf="uploadedMedias.length < 4">
      <!--
<p-fileUpload
      name="image"
      [url]="uploadImageUrl"
      [multiple]="false"
      accept="image/jpeg,image/png,image/webp,image/gif,video/mp4,video/quicktime,video/webm,.mkv,audio/mpeg,audio/*"
      [auto]="true"
      (onUpload)="uploadImage($event)"
      [maxFileSize]="maxFileUploadSize"
      chooseLabel="Upload image, video or audio"
    >
    </p-fileUpload>
    --></div>
    <div *ngIf="uploadedMedias.length >= 4">
      Due some fediverse limitations, we can only have 4 medias per post. Adding
      more would break how the post is seen in other places. Sorry for the
      inconvenience
    </div>
    <div class="grid">
      <ng-container *ngFor="let media of uploadedMedias; let i = index">
        <div class="col-12 md:col-6 my-4">
          <div class="w-full">
            <app-media-preview [media]="media"></app-media-preview>
            <input
              placeholder="Description. Please FILL THIS"
              [(ngModel)]="media.description"
              id="description"
              type="text"
              pTooltip="Images description. Useful in the case of someone using a screen reader, or when the image does not load properly."
              tooltipPosition="top"
              pInputText
              class="w-full mb-3"
            />
            <!--
<div>
            <p-checkbox
              [(ngModel)]="media.NSFW"
              [binary]="true"
              label="NSFW"
              pTooltip="Is this image NSFW? as in 'this is a spicy post and is better to not see it in a classroom or a work environment'"
              tooltipPosition="top"
              [disabled]="media.adultContent"
            ></p-checkbox>
          </div>
          <div>
            <p-checkbox
              [(ngModel)]="media.adultContent"
              [binary]="true"
              label="Adult Content"
              (ngModelChange)="adultContentUpdated(i)"
              pTooltip="Not a spicy post, but actual adult NSFW content. This media will not be visible to minors nor people who is not logged in"
              tooltipPosition="top"
            ></p-checkbox>
            <button
              (click)="deleteImage(i)"
              pButton
              class="w-full p-button-danger"
              label="Delete"
              pTooltip="Deletes the image ON TOP of this button"
              icon="pi pi-trash"
            ></button>
          </div>
          --></div>
        </div>
      </ng-container>
    </div>
  </div>
  <button
    mat-flat-button
    color="primary"
    class="w-full"
    [disabled]="postBeingSubmitted"
    (click)="submitPost()"
  >
    {{ idPostToReblog ? "Publish reply to post" : "Publish post" }}
  </button>
</mat-dialog-content>
