<mat-dialog-content style="padding: 12px">
  <h2 *ngIf="idPostToReblog && !editing">
    You are replying to the woot. Your wafrn followers will see the full thread
    with your reply on it. Your fedi followers will see the reply and they will
    be able to see the full thread upon clicking
  </h2>
  <h2 *ngIf="editing">
    You are editing your woot. Sorry you need to write all of it again.
  </h2>

  <quill-editor
    #quill
    class="w-full"
    [(ngModel)]="postCreatorContent"
    [modules]="modules"
    [customOptions]="customOptions"
  >
    <div
      quill-editor-toolbar
      style="
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      "
    >
      <select class="ql-size" title="Text Size">
        <option value="small"></option>
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>
      <span class="ql-align">
        <button class="ql-list" value="bullet"></button>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <button
        type="button"
        class="ql-bold"
        aria-label="Bold"
        title="Bold"
      ></button>
      <button
        type="button"
        class="ql-italic"
        aria-label="Italic"
        title="Italic"
      ></button>
      <button
        type="button"
        class="ql-underline"
        aria-label="Underline"
        title="Underline"
      ></button>
      <button
        type="button"
        class="ql-strike"
        aria-label="Strike"
        title="Strike"
      ></button>
      <button
        type="button"
        class="ql-link"
        aria-label="Insert Link"
        title="Insert Link"
      ></button>
      <button
        type="button"
        class="ql-code-block"
        aria-label="Code block"
        title="Code block"
      ></button>
      <button
        type="button"
        class="ql-blockquote"
        aria-label="Quote"
        title="Quote"
      ></button>
      <button
        *ngIf="displayMarqueeButton"
        type="button"
        class="ql-marquee"
        aria-label="Marquee"
        title="Marquee"
      >
        M
      </button>
    </div>
  </quill-editor>
  <button
    mat-flat-button
    color="danger"
    *ngIf="postCreatorContent?.includes('<img')"
  >
    You seem to have pasted images in the editor. The image will NOT be visible
    once you woot. Please use the upload tool on the top bar of the editor
  </button>

  <div class="below-editor-toolbar">
    <div style="flex-grow: 1">
      <mat-form-field
        class="w-full"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <mat-label>Privacy</mat-label>
        <mat-select [required]="true" [(value)]="privacy">
          @if (privacyOption) {
          <mat-select-trigger>
            <fa-icon [icon]="privacyOption.icon"></fa-icon>
            {{ privacyOption.name }}
          </mat-select-trigger>
          } @for (option of privacyOptions; track option) {
          <mat-option [value]="option.level">
            <fa-icon [icon]="option.icon"></fa-icon>
            {{ option.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="cw-wrapper" [ngClass]="{ 'cw-animation': showContentWarning }">
      @if (showContentWarning || contentWarning) {
      <mat-form-field
        class="w-full"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <mat-label>Content warning</mat-label>
        <input [(ngModel)]="contentWarning" matNativeControl />
      </mat-form-field>
      }
      <mat-button-toggle
        *ngIf="!showContentWarning && !contentWarning"
        (change)="showContentWarning = !showContentWarning"
      >
        CW
      </mat-button-toggle>
    </div>
    <div class="w-full-mobile" *ngIf="uploadedMedias.length < 4">
      <app-file-upload (fileUpload)="uploadImage($event)"></app-file-upload>
    </div>
  </div>
  <section id="media-upload" class="mb-4">
    <div *ngIf="uploadedMedias.length >= 4">
      Due some fediverse limitations, we can only have 4 medias per woot. Adding
      more would break how the woot is seen in other places. Sorry for the
      inconvenience
    </div>
    <div class="grid">
      <ng-container *ngFor="let media of uploadedMedias; let i = index">
        <div class="col-12 md:col-6 my-4">
          <div class="w-full">
            <app-media-preview [media]="media"></app-media-preview>
            <mat-form-field class="w-full">
              <mat-label>Image Description</mat-label>
              <input
                placeholder="Description. Please FILL THIS"
                [(ngModel)]="media.description"
                type="text"
                matNativeControl
                required
                class="w-full mb-3"
              />
            </mat-form-field>
            <div>
              <mat-checkbox
                [disabled]="media.adultContent"
                [(ngModel)]="media.NSFW"
                class="w-full"
                >NSFW</mat-checkbox
              >
              <mat-checkbox
                class="w-full"
                (ngModelChange)="adultContentUpdated(i)"
                [(ngModel)]="media.adultContent"
                >Adult content</mat-checkbox
              >
              <button
                class="w-full"
                mat-flat-button
                color="warn"
                (click)="deleteImage(i)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>

  <section id="privacy">
    <div mat-flat-button color="warning" *ngIf="privacy === 10">
      Attention! ADMINS both of your instance and the target instance can read
      the DMs
    </div>
    <div mat-flat-button color="warning" *ngIf="privacy === 3">
      Unlisted posts are posts that opt out of search, that including tag
      (hashtag) search in other instances. They are more public than followers
      only but less than regular public. I know I am great at explaining stuff
    </div>
    <div mat-button color="warning" *ngIf="!allDescriptionsFilled()">
      Please fill the media descriptions. If you want to disable this check,
      there is an option in the profile that you can disable.
    </div>
  </section>

  <section id="tags">
    <mat-form-field class="w-full">
      <mat-label>Tags</mat-label>
      <input
        [(ngModel)]="tags"
        placeholder="Separated by commas"
        matNativeControl
      />
    </mat-form-field>
    <div class="taglist">
      @for(tag of tags.split(','); track tag) {
      <span *ngIf="tag && tag !== '' && tag.trim() !== ''" class="tag"
        >#{{ tag.trim() }}</span
      >
      }
    </div>
  </section>

  <button
    mat-flat-button
    color="primary"
    class="w-full"
    [disabled]="
      !allDescriptionsFilled() ||
      postBeingSubmitted ||
      (postCreatorContent === '' &&
        tags.length === 0 &&
        uploadedMedias.length === 0)
    "
    (click)="submitPost()"
  >
    {{
      editing
        ? "Save woot"
        : idPostToReblog
        ? "Publish reply to woot"
        : "Publish woot"
    }}
  </button>
</mat-dialog-content>
