.avatar {
  height: 48px;
  min-width: 48px;
  margin-right: 4px;

  img {
    border-radius: 4px !important;
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.user-avatar-container {
  height: 3em;
  width: 3em;
  margin-right: 8px;

  img {
    border-radius: 4px;
    max-height: 100%;
    max-width: 100%;
  }
}

.notification-content-shortened {
  max-height: 250px;
  overflow: hidden;

}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dotted {
  border: 1px dashed;
  background-color: transparent;
}