.info-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--info-card-warning-background);
  color: var(--mat-sys-on-surface);
  border-radius: var(--mat-sys-corner-small);
  padding: 0.5rem 1rem;

  & fa-icon {
    margin-right: 1ch;
  }

  &.caution {
    background-color: var(--info-card-warning-background);
  }
  &.info {
    background-color: var(--info-card-info-background);
  }
}
