<div class="grid pb-6 lg:px-4 scalein animation-duration-400 wafrn-container">
  <div class="col-12 wafrn-post">
    <p-card>
      <div class="text-center mb-5">
        <img src="/assets/logo.png" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Set a new password</div>
        <span class="text-600 font-medium line-height-3">And just log in after that!</span>
        <br>


      </div>

      <div>

        <label for="password1" class="block text-900 font-medium mb-2">New password</label>
        <input [(ngModel)]="newPassword" type="password" pInputText class="w-full mb-3">


        <button [disabled]="newPassword.length < 6" pButton pRipple label="Reset password" (click)="resetPassword()"
          class="w-full"></button>
      </div>

    </p-card>
  </div>
</div>
