//app-navigation-menu,
:root .side-menu {
  background-color: var(--mat-sys-surface-container-low);
  box-shadow: var(--mat-sys-level2);
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-right: 0.25rem;
  overscroll-behavior-y: contain;
  scrollbar-gutter: stable;
}

.mat-drawer-content {
  min-height: 100vh;
  background-color: var(--mat-sys-background) !important;
  opacity: 1 !important;
  background-image: repeating-linear-gradient(45deg, var( --mat-sys-surface-bright) 25%, transparent 25%, transparent 75%, var( --mat-sys-surface-bright) 75%, var( --mat-sys-surface-bright)),
    repeating-linear-gradient(45deg, var( --mat-sys-surface-bright) 25%, var(--mat-sys-background) 25%, var(--mat-sys-background) 75%, var( --mat-sys-surface-bright) 75%, var( --mat-sys-surface-bright)) !important;
  background-position: 0 0, 80px 80px !important;
  background-size: 160px 160px !important;
}

:root .mdc-list {
  padding: 0;
}

hr {
  margin: 16px 0;
}

.drawer-footer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: auto;
  padding-top: 1rem;
}

@media (min-width: 992px) {
  .drawer-footer {
    justify-content: normal;
  }
}
