//app-navigation-menu,
.side-menu {
  height: 100vh;
  display: block;
  background: var(--mat-sys-surface-container-low);
  box-shadow: var(--mat-sys-level2);
}

.mat-drawer-content {
  min-height: 100vh;
}
