//app-navigation-menu,
:root .side-menu {
  display: block;
  background-color: var(--mat-sys-surface-container-low);
  box-shadow: var(--mat-sys-level2);
}

.mat-drawer-inner-container {
  padding: 0.5rem;
  overscroll-behavior-y: contain;
}

.mat-drawer-content {
  min-height: 100vh;
}
