<div *ngIf="!loading" class="grid">
  <div id="firstPost"  class="col-12 sm:col-12 md:col-12 lg:col-6 lg:col-offset-3 pb-6">

    <a [routerLink]="'/blog/' + blogDetails.url">
      <p-card class="xs:w-full md:w-75 lg:w-75">
        <div class="flex justify-content-center flex-wrap">
          <img style="max-width: 100%; max-height: 15vh;" [src]="mediaUrl + blogDetails.avatar">
        </div>
        <div class="flex justify-content-center flex-wrap">
          <div [innerText]="blogDetails.url" class="text-600 font-medium line-height-3"></div>
        </div>
        <div class="flex justify-content-center flex-wrap">
          <div [innerText]="blogDetails.description" class="text-600 font-medium line-height-3"></div>
        </div>
      </p-card>
    </a>
  </div>
</div>


<app-post *ngIf="!loading" [post]="post"></app-post>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>
