.avatar {
  height: 64px;
  width: 64px;
  margin-right: 4px;

  img {
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.user-avatar-container {
  height: 3em;
  width: 3em;
}

.notification-content-shortened {
  max-height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}