.avatar {
  height: 64px;
  width: 64px;
  margin-right: 4px;

  img {
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: auto;
    max-height: 100%;
    object-fit: cover;
  }
}
