<div *ngIf="notification" class="grid pb-6 lg:px-4 scalein animation-duration-400 wafrn-container">
  <div class="col-12 wafrn-post">
    <a [routerLink]="notification.url">
      <p-card *ngIf="notification.type === notificationType.REBLOG">
        <div class="flex align-items-center">
          <img [src]="notification.avatar" style="height: 64px; max-width: 64px;">
          <div class="p-3">
            User {{notification.userUrl}} reblogged one of your posts!
          </div>
        </div>
      </p-card>
      <p-card *ngIf="notification.type === notificationType.LIKE">
        <div class="flex align-items-center">
          <img [src]="notification.avatar" style="height: 64px; max-width: 64px;">
          <div class="p-3">
            User {{notification.userUrl}} liked one of your posts!
          </div>
        </div>
      </p-card>
      <p-card *ngIf="notification.type === notificationType.MENTION">
        <div class="flex align-items-center">
          <img [src]="notification.avatar" style="height: 64px; max-width: 64px;">
          <div class="p-3">
            User {{notification.userUrl}} mentioned you in a post!
          </div>
        </div>
      </p-card>
      <p-card *ngIf="notification.type === notificationType.FOLLOW">
        <div class="flex align-items-center">
          <img [src]="notification.avatar" style="height: 64px; max-width: 64px;">
          <div class="p-3">
            Hoorray! {{notification.userUrl}} now follows you!
          </div>
        </div>
      </p-card>
      <p-card *ngIf="notification.type === notificationType.PRIVATE">
        <div class="flex align-items-center">
          <img [src]="notification.avatar" style="height: 64px; max-width: 64px;">
          <div class="p-3">
            {{notification.userUrl}} has sent you a private message
          </div>
        </div>
      </p-card>
    </a>
  </div>
</div>
