<mat-card
  *ngIf="notification"
  class="p-3 py-4 mb-2 lg:mx-4 scalein wafrn-container"
>
  <div class="flex align-items-start -my-2">
    <div class="avatar flex align-content-center flex-wrap">
      <img
        crossorigin="anonymous"
        loading="lazy"
        [src]="notification.avatar"
        class="notification-image flex align-items-center justify-content-center border-1 border-300 border-round"
        alt=""
        width="64"
        height="64"
      />
    </div>
    <div class="py-1 px-2">
      <p class="m-0 mb-1 no-underline text-sm text-gray-300">
        {{ notification.date | date : "short" }}
      </p>
      <p class="m-0">
        User
        <a [routerLink]="'/blog/' + notification.userUrl">{{
          notification.userUrl
        }}</a>
        @switch (notification.type) { @case(notificationType.MENTION) {
        mentioned you <a [routerLink]="notification.url"> in a post</a>} @case
        (notificationType.LIKE) { liked
        <a [routerLink]="notification.url">one of your woots</a>
        } @case(notificationType.FOLLOW) { now follows you! } @case
        (notificationType.PRIVATE) {
        <a [routerLink]="notification.url">sent you a DM</a>. TEMPORARY
        WORKARROUND:
        <a [routerLink]="'/dashboard/private'"
          >click here to go to your DMs. Yep we are working on this</a
        >
        } @case (notificationType.REBLOG) { rewooted
        <a [routerLink]="notification.url">one of your woots</a>} }
      </p>
    </div>
  </div>
</mat-card>
