<p-card class="parent">
  <ng-template pTemplate="header">
    <img #wafrnMedia *ngIf="nsfw || ! extensionsToHideImgTag.includes(extension) || mimeType === 'UNKNOWN'"
    (click)="showPicture()" [src]="displayUrl"
    [alt]="data.description" loading="lazy"
    (load)="imgLoaded()"
    >

    <video *ngIf="!nsfw &&  mimeType.startsWith('video')" controls >
        <source [src]="displayUrl" [type]="mimeType">
    </video>

    <audio *ngIf="!nsfw && mimeType.startsWith('audio')" controls>
      <source [src]="displayUrl" [type]="mimeType" />
    </audio>
  </ng-template>
  <p [innerText]="data.description" ></p>
</p-card>
