<mat-card *ngIf="data" class="parent">
  <img
    #wafrnMedia
    *ngIf="
      nsfw ||
      !extensionsToHideImgTag.includes(extension) ||
      mimeType === 'UNKNOWN'
    "
    (click)="showPicture()"
    (keyup)="showPicture()"
    [src]="displayUrl"
    [alt]="data.description"
    role="none"
    loading="lazy"
    (load)="imgLoaded()"
  />

  <video *ngIf="!nsfw && mimeType.startsWith('video')" controls>
    <source [src]="displayUrl" [type]="mimeType" />
  </video>

  <audio *ngIf="!nsfw && mimeType.startsWith('audio')" controls>
    <source [src]="displayUrl" [type]="mimeType" />
  </audio>
  <div
    *ngIf="data.description"
    class="media-description bg-black-alpha-10 px-2 py-1"
    [innerText]="data.description"
  ></div>
</mat-card>
