<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted ">

  <p-card id="firstPost" class="xs:w-full md:w-75 lg:w-75">
    <span class="text-600 font-medium line-height-3">Welcome to our public alpha! Please if you experience any kind of
      issues
      contact us at the email <a href="mailto:suggestions@wafrn.net">suggestions@wafrn.net</a></span>
      <div>
        <br>
        <h2 class="text-600 font-medium line-height-3">We are still checking the issue regarding tags on android phones</h2>

        <h2 class="text-600 font-medium line-height-3">The search function now works properly! you can search users and use the TAGS in the bottom of the post! have FUN</h2>
        <span class="text-600 font-medium line-height-3">
          As a start, you should definetly follow <a href="/blog/admin">the administrative blog</a> <br>
          You should also follow <a href="/blog/gabboman">my personal blog</a> in which I will try to give a shoutout to new users and stuff
        </span>
      </div>

      <div>
        <h2>Some new content! Check those blogs too</h2>
        <ul>
          <li><a href="/blog/admin">The administrative blog</a></li>
          <li><a href="/blog/gabboman">My personal blog</a></li>
          <li><a href="/blog/oxyman">Behold! Memes!</a></li>
          <li><a href="/blog/SnazzyPurpleMan">An artist!</a></li>
          <li><a href="/blog/oddstranger">Hey being one of the firsts active users has some benefits</a></li>
          <li><a href="/blog/lemjamin">Another early user who may post some stuff</a></li>
          <li><a href="/blog/Furry">Bad news everyone! Someone already registered this URL</a></li>

        </ul>

        <h2>Newcomers, when you join you should create a post with the tag "hello wafrn". Later on we will add notifications, worry not</h2>
        <h4>If you would like to help us grow, please <a target="_blank" href="https://gabbomanestamuyloco.tumblr.com/post/673115316667154432/updates-after-36-hours-open-there-are-43">reblog this in other platforms </a> and bring your friends or enemies here!</h4>
      </div>
  </p-card>

</div>



<div *ngFor="let post of posts" pDefer (onLoad)="countViewedPost()">
  <ng-template>
    <app-post [post]="post"></app-post>
  </ng-template>
</div>

<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted">
  <p-progressSpinner></p-progressSpinner>

</div>

