<p-speedDial [model]="menuItems" direction="down"></p-speedDial>

<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted ">

  <p-card id="firstPost" class="xs:w-full md:w-75 lg:w-75">
    <span class="text-600 font-medium line-height-3">Welcome to our public alpha! Please if you experience any kind of
      issues
      contact us at the email <a href="mailto:suggestions@wafrn.net">suggestions@wafrn.net</a></span>
  </p-card>

</div>



<div *ngFor="let post of posts" pDefer (onLoad)="countViewedPost()">
  <ng-template>
    <app-post [post]="post"></app-post>
  </ng-template>
</div>

<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted">
  <p-progressSpinner></p-progressSpinner>

</div>

<p-dialog *ngIf="editorVisible" [header]="idPostToReblog ? 'Reblog a post' : 'Create new post'"
  [(visible)]="editorVisible" [modal]="true" 
  [style]="{width: '75vw'}">

  <p-overlayPanel #uploadImagesPanel>
    <div>
      <label for="imgSelected" class="block text-900 font-medium mb-2">Upload your image</label>
      <input *ngIf="displayUploadImagePanel" id="imgSelected" type="file" accept="image/*"
        (change)="imgSelected($event)" pTooltip="Select your avatar" tooltipPosition="top" pInputText
        class="w-full mb-3">
      <label for="description" class="block text-900 font-medium mb-2">Image description</label>
      <input [(ngModel)]="newImageDescription" id="description" type="text"
        pTooltip="Image description. Useful in the case of someone using a screen reader, or when the image does not load properly."
        tooltipPosition="top" pInputText class="w-full mb-3">

      <p-checkbox [(ngModel)]="newImageNSFW" [binary]="true" label="this is NSFW"
        pTooltip="Is this image NSFW or does it contain explicit sexual content that is not suited to minors? Just mark this and go nuts"
        tooltipPosition="top"></p-checkbox>
    </div>
    <p-button label="Upload image" (onClick)="uploadImage()"></p-button>

  </p-overlayPanel>
  <p-editor [(ngModel)]="postCreatorContent" [style]="{'height':'50vh'}">
    <ng-template pTemplate="header">
      <span class="ql-formats">
        <select class="ql-size">
          <option value="small"></option>
          <!-- Note a missing, thus falsy value, is used to reset to default -->
          <option selected></option>
          <option value="large"></option>
          <option value="huge"></option>
        </select>
        <button type="button" class="ql-bold" aria-label="Bold"></button>
        <button type="button" class="ql-italic" aria-label="Italic"></button>
        <button type="button" class="ql-underline" aria-label="Underline"></button>
        <button type="button" class="ql-link" aria-label="Insert Link"></button>
        <button type="button" class="ql-code-block" aria-label="Insert Code Block"></button>
        <button #uploadImages (click)="uploadImagesPanel.show($event, uploadImages); displayUploadImagePanel = true"
          type="button"><i class="pi pi-upload"></i></button>


      </span>
    </ng-template>
  </p-editor>

  <p-captcha (onResponse)="captchaResolved($event)" (onExpire)="captchaExpired()" [siteKey]="captchaKey" theme="dark"
    size="big">
  </p-captcha>

  <p-button [disabled]="captchaResponse == undefined" (onClick)="submitPost()">Submit</p-button>

</p-dialog>
