<mat-form-field class="w-full mt-2">
  <mat-label>Search avaiable emojis</mat-label>
  <input [(ngModel)]="filterText" matInput />
</mat-form-field>
@for (emojiCollection of emojiCollections; track $index) {
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ emojiCollection.name }}
    </mat-panel-title>
  </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="flex grid">
      @for(emoji of emojiCollection.emojis; track emoji) {
        <button
          mat-flat-button
          [matTooltip]="emoji.name"
          *ngIf="emoji.name.toLowerCase().includes(filterText.toLowerCase())"
          (click)="click(emoji)"
          class="p-2 flex align-content-center justify-content-center cursor-pointer bg-transparent"
        >
          <img
            class="post-emoji-preview mr-2 ml-2"
            [src]="baseMediaUrl + emoji.url"
            [alt]="emoji.name"
          />
        </button>
        }
      </div>
    </ng-template>
</mat-expansion-panel>

}
