img, video {
  max-width: 100%;
  width: 100%;
}

.nsfw {
  filter: grayscale(1) contrast(0%);
}

.displayed-image {
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  from {
    filter: grayscale(1) contrast(0%);
  }
}

.img-cw-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 69;
  color: white
}

.img-container {
  position: relative;
  text-align: center;
}