.media-container {
  background: var(--mat-sys-surface-container);
  position: relative;
  display: grid;
  border-radius: var(--mat-sys-corner-extra-small);
  overflow: clip;

  &:hover .toggle-button {
    opacity: 1;
  }
}

.image-description {
  background: var(--mat-sys-surface-container-high);
}

img,
video {
  margin-inline: auto;
  transition: filter 120ms ease-out;
}

.nsfw {
  filter: grayscale(1) contrast(0%);
  background: gray;
}

.toggle-description,
.toggle-nsfw,
.media-content-container,
.image-cw-text {
  grid-column: 1/2;
  grid-row: 1/2;
}

.toggle-button {
  width: fit-content;
  height: fit-content;
  padding-inline: 0.75ch;
  opacity: 0.25;

  &:hover {
    opacity: 1;
  }
}

.toggle-description {
  .always-show-alt & {
    display: none;
  }
}

// Has to be absolute to get height correctly
.image-description {
  position: absolute;
  transition: opacity 120ms ease-out;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  max-height: 75%;

  &.visible {
    opacity: 0.75;
    visibility: visible;

    .media-container:hover & {
      opacity: 1;
    }
  }

  .always-show-alt & {
    position: static;
    opacity: 1;
    max-height: 10rem;
    visibility: visible;
  }
}

.toggle-nsfw {
  padding-left: 0.85ch; // weird icon issue
  justify-self: end;
}

.image-cw-text {
  width: 100%;
  padding: 0 2rem;
  background-color: #0c0c0c;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .toggle-description,
  .toggle-nsfw {
    align-self: end;
    z-index: 2;
  }

  .image-description {
    bottom: unset;
  }
}

/* Limit the height AGAIN */
/* Seriously when and why did we undo this */
.media-content-container:has(img),
.media-content-container video {
  max-height: 80vh;
}

/* fix aspect ratio/stretch */
.media-content-container .displayed-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
