img,
video {
  max-width: 100%;
  max-height: 90vh;
}

.nsfw {
  filter: grayscale(1) contrast(0%);
  background-color: grey;

}

.displayed-image {
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  from {
    filter: grayscale(1) contrast(0%);
    background-color: grey;
  }
}

.img-video-container {
  position: relative;
}

.img-cw-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 69;
  color: white
}

.img-container {
  position: relative;

  & img {
    margin-inline: auto;
  }
}
