<p-badge (click)="notificationsBadgeClick()" *ngIf="badgeVisible && numberNotifications != '0'" id="notifications_badge"
  [value]="numberNotifications"></p-badge>


<p-dialog *ngIf="modalVisible && notifications" [(visible)]="modalVisible" [style]="{width: '75vw'}"
  header="Your notifications">
  <h2 *ngIf="notifications.follows?.length != 0">Your new followers</h2>
  <p-dataView *ngIf="notifications.follows?.length != 0" [value]="notifications.follows">
    <ng-template let-follow pTemplate="listItem">
      <div class="w-full">
        <a (click)="modalVisible = false" [routerLink]="'/blog/' + follow.url ">
          <img [src]="follow.avatar" style="max-height: 64px; max-width: 64px;">
          <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{follow.url}}</div>
        </a>
      </div>
    </ng-template>
  </p-dataView>
  <h2 *ngIf="notifications.mentions?.length != 0">The new mentions you got!</h2>
  <p-dataView *ngIf="notifications.mentions?.length != 0" [value]="notifications.mentions">
    <ng-template let-mention pTemplate="listItem">
      <div class="w-full">
        <a (click)="modalVisible = false" [routerLink]="'/post/' + mention.id ">
          <img [src]="mention.user.avatar" style="max-height: 64px; max-width: 64px;">
          <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{mention.user.url}} has mentioned you in this post</div>
        </a>
      </div>
    </ng-template>
  </p-dataView>
  <h2 *ngIf="notifications.reblogs?.length != 0">The new reblogs you got!</h2>
  <p-dataView *ngIf="notifications.reblogs?.length != 0" [value]="notifications.reblogs">
    <ng-template let-reblog pTemplate="listItem">
      <div class="w-full">
        <a (click)="modalVisible = false" [routerLink]="'/post/' + reblog.id ">
          <img [src]="reblog.user.avatar" style="max-height: 64px; max-width: 64px;">
          <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{reblog.user.url}} has reblogged one of your
            posts</div>
        </a>
      </div>
    </ng-template>
  </p-dataView>
  <p-button [disabled]="!buttonReadNotificationsClickable" (onClick)="readNotifications()"
    label="Mark all my notifications as read" class="w-full"></p-button>
</p-dialog>
