@if (item.items && item.visible !== false) {
<button class="border-none" (click)="expanded = !expanded" mat-list-item>
  <div class="flex align-items-center justify-content-start">
    <span class="menu-item-icon" *ngIf="item.icon">
      <fa-icon [icon]="item.icon"></fa-icon>
    </span>
    <span
      [matBadge]="item.badge"
      [matBadgeHidden]="item.badge === 0"
      class="ml-3 flex-grow-1 text-left"
      >{{ item.label }}</span
    >
    <span class="menu-item-icon">
      <fa-icon [icon]="expanded ? chevronUp : chevronDown"></fa-icon>
    </span>
  </div>
</button>
@if(expanded) {
<div class="ml-4">
  @for (internal of item.items; track internal) {
  <app-menu-item [item]="internal"></app-menu-item>
  }
</div>
} } @else {
<a
  mat-list-item
  *ngIf="item.visible !== false"
  [routerLink]="item.routerLink ? item.routerLink : null"
  (click)="doCommand()"
>
  <div class="flex align-items-center justify-content-start">
    <span class="menu-item-icon" *ngIf="item.icon">
      <fa-icon [icon]="item.icon"></fa-icon>
    </span>
    <span
      [matBadge]="item.badge"
      [matBadgeHidden]="item.badge === 0"
      class="ml-3"
      >{{ item.label }}</span
    >
  </div>
</a>
}
