@if (item.items && item.visible !== false) {
<mat-list-item>
  <a class="ml-2">
    <!-- TODO add animation -->
  <button (click)="expanded = !expanded" mat-button matListItemMeta class="w-full justify-content-start">
    <span  [matBadge]="item.badge" [matBadgeHidden]="item.badge === 0" class="menu-item-icon">
      <fa-icon [icon]="expanded ? chevronUp : chevronDown"></fa-icon>
      {{item.label}}
    </span>
  </button>
  </a>
</mat-list-item>
@if(expanded) {
@for (internal of item.items; track internal) {
<app-menu-item [item]="internal"></app-menu-item>
}
}
} @else {
<mat-list-item *ngIf="item.visible !== false">
  <a class="ml-2" matListItemTitle  [attr.href]="item.url ? item.url : null" target="_blank">
  <button [routerLink]="item.routerLink" mat-button matListItemMeta class="w-full justify-content-start" (click)="doCommand()" >
    <span  [matBadge]="item.badge" [matBadgeHidden]="item.badge === 0" class="menu-item-icon">
      <fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon>
      {{ item.label }}
    </span>
  </button>
  </a>
</mat-list-item>
}
