@if (item.items && item.visible !== false) {
<mat-list-item>
  <button mat-button matListItemMeta class="w-full justify-content-start">
    <span style="display: inline-block; min-width: 20px;">
      <fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon>
    </span>
    <a class="ml-2" matListItemTitle [href]="item.url" [routerLink]="item.routerLink">{{ item.label }}</a>
  </button>
</mat-list-item>
@if(expanded) {
@for (internal of item.items; track internal) {
<app-menu-item [item]="internal"></app-menu-item>
}
}
} @else {
<mat-list-item *ngIf="item.visible !== false">
  <button mat-button matListItemMeta class="w-full justify-content-start">
    <span style="display: inline-block; min-width: 20px;">
      <fa-icon *ngIf="item.icon" [icon]="item.icon"></fa-icon>
    </span>
    <a class="ml-2" matListItemTitle [href]="item.url" [routerLink]="item.routerLink">{{ item.label }}</a>
  </button>
</mat-list-item>
}