.fedi-attachment-list {
  column-gap: 1rem;
}

.fedi-attachment {
  flex: 50;
}

.remove-fedi-attachment {
  padding: 8px;
  flex: auto;
}
.add-fedi-attachment {
  padding: 0 24px 0 16px;
}

.preference-subheader {
  margin-bottom: 1rem;
}