<!--
<div class="grid pb-6 lg:px-4 scalein  wafrn-container">
    <div class="col-12 wafrn-post">
      <p-card>
        <div class="text-center mb-5">
            <img loading="lazy" [src]="logo" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Regarding our privacy policy:</div>
            <div class="text-900 text-3xl font-medium mb-3">We do not use cookies nor third party analytic tools.</div>
            <div class="text-900 text-3xl font-medium mb-3">Regarding what we will do with your data:</div>
            <div class="text-900 text-3xl font-small mb-3">We are connected with other social networks, so your posts and your images could be automatically stored in other servers.</div>
            <div class="text-900 text-3xl font-medium mb-3">We will store your email and every once in a while send you a small campaing so you come back and commit some shitposts (please)</div>
            <div class="text-900 text-3xl font-medium mb-3">We will also store your registration IP, your last login ip and the ip that you use when you upload a media like pic or video, so if you post something ilegal we can comply with the authorities</div>
            <div class="text-900 text-3xl font-medium mb-3">If your account does not get activated in a period between a month and a year it might get deleted</div>
            <div class="text-900 text-3xl font-medium mb-3">If you want to get all the data we have about you, or there is any problem regarding the GDRP please email us at info&#64;wafrn.net. This is a manual process and can take some time.</div>

        </div>
      </p-card>
      </div>
      </div>

    -->
