<!--
<p-button *ngIf="!menuVisible" icon="pi pi-bars" [label]="notifications + adminNotifications > 0 ? (notifications + adminNotifications).toString() : ''"
type="button" class="show-sidebar-menu-button" styleClass="p-button-raised "
(click)="showMenu()"
></p-button>

<p-sidebar (onHide)="onCloseMenu()" [visible]="menuVisible || !mobile" [modal]="mobile" [showCloseIcon]="mobile">
    <a routerLink="/"><img  [src]="logo" alt="instance logo" class="w-full"></a>
    <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
</p-sidebar>


<app-post-editor></app-post-editor>
<app-report-post></app-report-post>
<app-delete-post></app-delete-post>
<div class="pt-7">
    <router-outlet></router-outlet>
</div>
-->

<mat-sidenav-container>
  <mat-drawer #drawer class="example-sidenav" mode="side" [disableClose]="!mobile" >
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
  </mat-drawer>
</mat-sidenav-container>

<div class="pt-7">
  <router-outlet></router-outlet>
</div>
