<p-button *ngIf="!menuVisible" icon="pi pi-bars" [label]="notifications"
type="button" class="show-sidebar-menu-button" styleClass="p-button-raised p-button-rounded "
(click)="showMenu()"
></p-button>

<p-sidebar [(visible)]="menuVisible" [modal]="true">
    <img src="/assets/logo.png" class="w-full">
    <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
</p-sidebar>

<!-- This is a little bit of a dirty trick, should actually check stuff, but fuck it -->
<p-sidebar [visible]="true" [modal]="false" class="left-menu-hidden-mobile" [showCloseIcon]="false">
    <img src="/assets/logo.png" class="w-full">
    <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
</p-sidebar>


<app-post-editor></app-post-editor>
<app-report-post></app-report-post>
<app-delete-post></app-delete-post>
<div class="pt-7">
    <router-outlet></router-outlet>
</div>
