<button *ngIf="!menuVisible" type="button" class="show-sidebar-menu-button" (click)="showMenu()">MENU butt</button>
<mat-drawer-container class="side-menu">
  <mat-drawer [mode]="mobile ? 'over' : 'side'" [opened]="menuVisible || !mobile">
    <a routerLink="/" class="block">
      <img [src]="logo" class="block mx-auto my-3" alt="instance logo" style="max-width: 200px; max-height: 72px;">
    </a>
    <hr class="mx-3" />
    <mat-nav-list>
      @for (link of menuItems; track link) {
      <app-menu-item [item]="link"></app-menu-item>
      }
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="pt-7">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>