.user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.35;
}

.user-url {
  line-height: 1.35;
  color: var(--mat-sys-outline);
}

.follow-button {
  height: 1.75em;
  cursor: pointer;
  border-color: var(--mat-sys-outline-variant);
  padding: 0.5em;
  border-radius: var(--mat-sys-corner-small);
}

.date-line {
  color: var(--mat-sys-outline-variant);
  line-height: 1;
  gap: 0.375rem; // Does not exist in PrimeFlex
}
