.taglist {
  margin-top: -8px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.grid {
  margin: 0;
}

.grid > div {
  border: 1px solid #999;
  border-radius: 8px;
}

.below-editor-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
}

.cw-wrapper {
  flex-grow: 5;
  display: flex;
}

.cw-wrapper mat-button-toggle {
  flex-shrink: 0;
  margin: 3px 0;
  margin-left: -2px;
}

p {
  margin: 0;
}

app-media-preview {
  display: block;
  margin-bottom: 8px;

  & + mat-form-field {
    margin-bottom: -12px;
  }
}

.delete-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.quote-container {
  position: relative;
}

.post-editor-toolbar {
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.publish-post-button {
  position: absolute;
  bottom: 2em;
  left: 0px;
}

.suggestionsMenu {
  max-height: 300px;
  max-width: 250px;
  position: fixed;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1d1b1e;
  border-radius: 8px;
  border: 1px solid #888;
  padding: 8px;
}

/* Not sure if this is how to do it but lmao */
.suggestionsMenu > div {
  margin-block: 4px;
}

.suggestionsMenu > div > app-avatar-small {
  margin-right: 4px;
}

/* This doesn't work and I cannot figure out the correct class to target */
/* see frontend/src/styles.scss L387 instead */
/* .mat-mdc-dialog-inner-container > .mat-mdc-dialog-surface { */
/*     padding: 20px; */
/* } */
