.taglist {
  margin-top: -8px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.grid {
  margin: 0;
}

.grid > div {
  border: 1px solid var(--mat-sys-outline);
  border-radius: 8px;
}

.post-length-note {
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  gap: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;

  p {
    margin: 0;
  }
}

.post-length-warning {
  font-size: 0.7em;
  line-height: 1.1;
  color: var(--mat-sys-outline);
}

.length-overflow {
  --mat-progress-bar-active-indicator-color: var(--mat-sys-error);
  --mat-progress-spinner-active-indicator-color: var(--mat-sys-error);
}

.below-editor-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  /* align-items: flex-start; */
  /* gap: 0.5rem; */
  /* margin-bottom: 0.5rem; */
  --mat-icon-button-icon-color: var(--mat-sys-primary);

  & button {
    --fa-display: block;
  }
}

.below-editor-toolbar-leftside,
.below-editor-toolbar-rightside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.below-editor-toolbar-divider {
  border: 1px solid var(--mat-sys-outline-variant);
  width: 1px;
  min-height: 40px;
  max-height: max-content;
}

.cw-wrapper {
  flex-grow: 5;
  display: flex;
}

.cw-wrapper mat-button-toggle {
  flex-shrink: 0;
  margin: 3px 0;
  margin-left: -2px;
}

app-media-preview {
  display: block;
  margin-bottom: 8px;

  & + mat-form-field {
    margin-bottom: -12px;
  }
}

.delete-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
}

.delete-btn.mdc-icon-button .ng-fa-icon {
  display: block;
  transform: translateY(-5px);
}

.fucked-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 380px) {
  .post-text {
    display: none;
  }

  .post-btn {
    width: 24px;
  }
}

.quote-container {
  position: relative;
}

.post-editor-toolbar {
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.publish-post-button {
  position: absolute;
  bottom: 2em;
  left: 0px;
}

.suggestions-menu {
  max-height: 24rem;
  max-width: 16rem;
  position: fixed;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--mat-sys-surface-container);
  border-radius: var(--mat-sys-corner-small);
  border: 1px solid var(--mat-sys-outline);
  padding: 0.5rem;
}

svg {
  display: block;
}
