.taglist {
  margin-top: -8px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.grid {
  margin: 0;
}

.grid > div {
  border: 1px solid var(--mat-sys-outline);
  border-radius: 8px;
}

.below-editor-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  --mdc-icon-button-icon-color: var(--mat-sys-primary);

  & button {
    --fa-display: block;
  }
}

.cw-wrapper {
  flex-grow: 5;
  display: flex;
}

.cw-wrapper mat-button-toggle {
  flex-shrink: 0;
  margin: 3px 0;
  margin-left: -2px;
}

app-media-preview {
  display: block;
  margin-bottom: 8px;

  & + mat-form-field {
    margin-bottom: -12px;
  }
}

.delete-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.quote-container {
  position: relative;
}

.post-editor-toolbar {
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.publish-post-button {
  position: absolute;
  bottom: 2em;
  left: 0px;
}

.suggestions-menu {
  max-height: 24rem;
  max-width: 16rem;
  position: fixed;
  z-index: 999;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--mat-sys-surface-container);
  border-radius: var(--mat-sys-corner-small);
  border: 1px solid var(--mat-sys-outline);
  padding: 0.5rem;
}

svg {
  display: block;
}
