@use '@angular/material' as mat;

$font-family: sans-serif;
// Define a dark theme
$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$violet-palette,
      ),
      typography: (brand-family: $font-family,
        plain-family: $font-family,

        bold-weight: 900,
      )));

$bgcolor: #151116;
$cardcolor: #2a323d;

@include mat.core();

html {
  // Apply the dark theme by default
  @include mat.core-theme($dark-theme);
  @include mat.all-component-typographies($dark-theme);
  @include mat.all-component-themes($dark-theme);
  font-family: $font-family;
  background-color: $bgcolor
}

@include mat.color-variants-backwards-compatibility($dark-theme);
@include mat.typography-hierarchy($dark-theme); // typography styles could be included too

.mat-drawer-content {
  background-color: $bgcolor
}


$wafrn-blue: #D6CA98;
// $wafrn-dark: rgb(18, 95, 90);
$editor-buttons: #ffffffde;

@media (min-width: 992px) {
  .show-sidebar-menu-button {
    display: none;
  }
}

// dirty hack because bug regarding the editor
.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100% !important;
}

a,
a:visited,
.ql-snow a {
  color: $wafrn-blue;
}

#script-warn {
  width: 100%;
  color: $wafrn-blue;
  text-align: center;
}

.ql-snow .ql-stroke {
  fill: none;
  stroke: $editor-buttons;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: $editor-buttons;
}

.ql-snow .ql-picker {
  color: $editor-buttons;
}

.uploadImageButton {
  color: $editor-buttons;
}

.ql-snow.ql-container {
  border-radius: 0 0 5px 5px;
  border-color: #999;
}

.ql-snow>.ql-editor {
  color: white;
  font-size: 1.25em !important;
  border-radius: 0 0 5px 5px;
  font-size: 1em;
  min-height: 140px;
  max-height: 400px;
  overflow-y: auto;
}

li {
  list-style-type: inside circle;
  margin-left: 1.5em;
}

.ql-snow>.ql-editor.ql-blank::before {
  color: white;
  opacity: 0.5;
}

.ql-editor:focus {
  background-color: var(--mdc-filled-text-field-container-color);
}

$avatar-length: 40px;

.avatar-container {
  display: flex;
  height: $avatar-length;
  width: $avatar-length;
  justify-content: center;
}

.avatar {
  max-height: $avatar-length;
  max-width: $avatar-length;
  border-radius: 8px;
  display: flex;
  object-fit: cover;
}

.margin-auto {
  margin: auto;
}

.wafrn-container {
  max-width: 800px;
}

.mention {
  height: unset;
  width: unset;
  border-radius: unset;
  background-color: unset;
  padding: unset;
  margin-right: unset;
  -webkit-user-select: unset;
  user-select: unset;
}

.mention>span {
  margin: 0;
}

.ql-mention-list-item {
  margin: 0;
}

.ql-mention-list-item.selected {
  background-color: #20262e;
}


.post-emoji {
  display: inline-flex;
  max-height: 1.5em;
  max-width: 1.5em;
  vertical-align: middle;
}

.ql-picker-options {
  background-color: var(--mdc-filled-text-field-container-color) !important;
}

.font-small {
  font-size: 0.85em;
}

// youtube player

.yt-thumbnail {
  max-width: 100%;
  width: 100%;
}

.yt-watermark {
  max-width: 100%;
}

.watermark {
  /* Used to position the watermark */
  position: relative;
}

.watermark__inner {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 100%;
  width: 100%;
}

.watermark__body {
  max-height: 15%;
  max-width: 15%;
}

hr {
  border-top: 0px;
}

blockquote {
  border-inline-start: 3px solid #9baec8;
  padding-inline-start: 1em !important;
}

.mdc-button {
  min-width: unset !important;
}

.ql-tooltip {
  z-index: 999 !important;
}

.ql-toolbar.ql-snow {
  border-color: #999;
}

.quill-mention-inner {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    object-fit: contain;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
  }
}

.share-button {
  gap: 0.5em;
}

.split-button-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 0;
}

.split-button-right {
  width: 30px !important;
  min-width: unset !important;
  padding: 0 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #ffffff44;
}

.shortened-post {
  max-height: 1250px;
  overflow: hidden;
}

.quoted-post {
  position: relative;
  padding: 0.5em;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.25em;
  cursor: pointer !important;
  margin-bottom: 4px;
  border: 1px solid #888;
}

.ql-size-small {
  font-size: 0.75em;
  font-size: 1em;
}

.wafrn-text-default {
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.ql-size-large {
  font-size: 2.5em;
}

.ql-size-huge {
  font-size: 3.5em;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

// mobile only styles
@media (max-width: 992px) {
  .w-full-mobile {
    width: 100%;
  }
}

// not mobile only styles
@media (min-width: 992px) {
  .input-height-btn {
    height: 56px !important;
  }
}


.tag {
  padding: 0 6px;
  cursor: pointer;
  background-color: var(--mat-stepper-header-selected-state-icon-background-color);
  color: var(--mdc-filled-button-label-text-color) !important;
  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
  line-height: 16px;
  padding-top: 2px;
  word-break: break-all;
}


.mat-mdc-card,
table,
mat-paginator,
.ql-mention-list-container,
.mat-mdc-menu-panel {
  background-color: $cardcolor !important;
}


.post-danger {
  background: repeating-linear-gradient(45deg,
      $bgcolor,
      $bgcolor 10px,
      $cardcolor 10px,
      $cardcolor 20px);
}

.center-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.mat-mdc-dialog-content {
  max-height: unset !important;
}