@use '@angular/material' as mat;
@use './app/styles/quil.scss';
@use './app/styles/post-card.scss';
@use './app/styles/basic-html.scss';
@use './app/styles/theme-switcher.scss';

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      density: 0
    )
  );
}

// HACK: Have to make dummy theme to initialize typography
$theme: mat.define-theme(
  (
    color: (
      primary: mat.$violet-palette
    )
  )
);

@include mat.typography-hierarchy($theme);

:root {
  @include mat.badge-overrides(
    (
      background-color: var(--mdc-filled-button-container-color, var(--mat-sys-primary))
    )
  );
}

// Variables
:root {
  --wafrn-blue: light-dark(#125e59, #96d8d1);
  --mat-sys-label-small-size: 0.688rem;

  --info-card-warning-background: light-dark(#d7c3b8, #52443c);
}

// Global style fixes
* {
  box-sizing: border-box;
  scrollbar-color: var(--mat-sys-outline-variant) transparent;
  scrollbar-width: thin;
}

html {
  height: 100%;
  background-color: var(--mat-sys-surface);
  overflow-wrap: break-word;
}

body {
  min-height: 100%;
  margin: 0;
  overflow-y: scroll;
}

.wafrn-container {
  max-width: 800px;
}

// No JavaScript
#no-js {
  position: fixed;
  inset: 0;
  cursor: wait;
  z-index: 99999999; // Go on top of splash screen!

  & .text-muted {
    color: var(--mat-sys-outline);
  }
}

// Splashscreen
#splash,
#splash-icon,
#splash-text {
  position: fixed;
  inset: 0;
}
#splash {
  background: var(--mat-sys-background);
  cursor: wait;
  z-index: 2; // Minimum
  transition: display opacity;
  transition-duration: 120ms;
  transition-behavior: allow-discrete;
  transition-timing-function: ease-in;
}
#splash-icon,
#splash-icon img {
  margin: auto;
  pointer-events: none;
  user-select: none;
}
#splash-text {
  max-width: 40ch;
  margin-inline: auto;
  text-align: center;
  top: 50%;
  transform: translateY(calc(32px + 1rem));
  color: var(--mat-sys-outline);
}
#splash-content {
  height: 100%;
  transition: translate 120ms ease-in;
}

#splash.loaded {
  display: none;
  opacity: 0;

  & #splash-content {
    translate: 0 -6px;
  }
}

// Utility styles

.subtle-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// dirty hack because bug regarding the editor
.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100% !important;
}

.mdc-button {
  min-width: unset !important;
}

// mobile only styles
@media (max-width: 992px) {
  .w-full-mobile {
    width: 100%;
  }
}

// not mobile only styles
@media (min-width: 992px) {
  .input-height-btn {
    height: 56px !important;
  }
}

.mat-mdc-dialog-content {
  max-height: unset !important;
}

.mat-mdc-dialog-inner-container > .mat-mdc-dialog-surface {
  padding: 20px;
}

.force-comic-sans {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
