/* VARIABLES  from robynne's theme*/

:root {

  /* ELEMENT VARIABLES */
  
  --main-bgcolor: #131313;
  
  --main-textcolor: #5BCEFA;
  
  --container-bordercolor: none;
  
  --link-textcolor: #07a7e4;
  
  --link-textcolor-hover: #07a7e4;
  
  --link-textcolor-visited: #07a7e4;
  
  --button-bgcolor: #424242;
  
  --button-bgcolor-hover: #424242;
  
  --button-accent-color: #F5A9B8;
  
  --button-accent-color-hover: #F5A9B8;
  
  --element-bgcolor: #424242;
  
  --username-textcolor: #07a7e4;
  
  --username-textcolor-hover: #07a7e4;
  
  --url-textcolor: #07a7e4;
  
  --popup-textcolor: white;
  
  --popup-bgcolor: #424242;
  
  --color-trans: 0.37s cubic-bezier(0.77,0,0.23,1);
  
  --image-transoff: 0.37s cubic-bezier(0.88, 0.52, 0.48, 1);
  
  --image-trans: 0.37s cubic-bezier(0.81, -0.19, 0.27, 0.34);
  
  }
// wafrn css
html,
body {
  //font-family: "Roboto" !important;
  margin: 0;
  height: 100%;
}

.ql-container {
  //font-family: "Roboto" !important;
}

.space-grotesk {
  // font-family: "spaceGrotesk" !important;
}

$wafrn-blue: rgb(56, 254, 241);
// $wafrn-dark: rgb(18, 95, 90);
$editor-buttons: #ffffffde;

@media (min-width: 992px) {
  .show-sidebar-menu-button {
    display: none;
  }
}

// dirty hack because bug regarding the editor
.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100% !important;
}

a,
a:visited,
.ql-snow a {
  color: $wafrn-blue;
}

#script-warn {
  width: 100%;
  color: $wafrn-blue;
  text-align: center;
}

.ql-snow .ql-stroke {
  fill: none;
  stroke: $editor-buttons;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: $editor-buttons;
}

.ql-snow .ql-picker {
  color: $editor-buttons;
}

.uploadImageButton {
  color: $editor-buttons;
}

.ql-snow.ql-container {
  border-radius: 0 0 5px 5px;
  border-color: #999;
}

.ql-snow > .ql-editor {
  color: white;
  font-size: 1.25em !important;
  border-radius: 0 0 5px 5px;
  font-size: 1em;
  min-height: 140px;
  max-height: 400px;
  overflow-y: auto;
}

li {
  list-style-type: inside circle;
  margin-left: 1.5em;
}

.ql-snow > .ql-editor.ql-blank::before {
  color: white;
  opacity: 0.5;
}

.ql-editor:focus {
  background-color: var(--mdc-filled-text-field-container-color);
}

.avatar {
  height: 40px;
  width: 40px;
  margin-right: 4px;

  img {
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    //width: auto;
    max-height: 100%;
    object-fit: cover;
  }
}

.margin-auto {
  margin: auto;
}

.wafrn-container {
  max-width: 800px;
}

.mention {
  height: unset;
  width: unset;
  border-radius: unset;
  background-color: unset;
  padding: unset;
  margin-right: unset;
  -webkit-user-select: unset;
  user-select: unset;
}

.mention > span {
  margin: 0;
}

.ql-mention-list-item {
  margin: 0;
}

.ql-mention-list-item.selected {
  background-color: #20262e;
}

.ql-mention-list-container {
  background-color: #2a323d;
}

.post-emoji {
  display: inline-flex;
  max-height: 1.5em;
  max-width: 1.5em;
  vertical-align: middle;
}

.ql-picker-options {
  background-color: var(--mdc-filled-text-field-container-color) !important;
}

.font-small {
  font-size: 0.85em;
}

// youtube player

.yt-thumbnail {
  max-width: 100%;
  width: 100%;
}

.yt-watermark {
  max-width: 100%;
}

.watermark {
  /* Used to position the watermark */
  position: relative;
}

.watermark__inner {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 100%;
  width: 100%;
}

.watermark__body {
  max-height: 15%;
  max-width: 15%;
}

hr {
  border-top: 0px;
}

blockquote {
  border-inline-start: 3px solid #9baec8;
  padding-inline-start: 1em !important;
}

.mdc-button {
  min-width: unset !important;
}

.ql-tooltip {
  z-index: 999 !important;
}

.ql-toolbar.ql-snow {
  border-color: #999;
}

.quill-mention-inner {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    object-fit: contain;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
  }
}

.share-button {
  gap: 0.5em;
}

.split-button-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 0;
}

.split-button-right {
  width: 30px !important;
  min-width: unset !important;
  padding: 0 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #ffffff44;
}

.shortened-post {
  max-height: 1250px;
  overflow: hidden;
}

.quoted-post {
  position: relative;
  padding: 0.5em;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.25em;
  cursor: pointer !important;
  margin-bottom: 4px;
  border: 1px solid #888;
}

.ql-size-small {
  font-size: 0.75em;
  font-size: 1em;
}

.wafrn-text-default {
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.ql-size-large {
  font-size: 2.5em;
}

.ql-size-huge {
  font-size: 3.5em;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

// mobile only styles
@media (max-width: 992px) {
  .w-full-mobile {
    width: 100%;
  }
}

// not mobile only styles
@media (min-width: 992px) {
  .input-height-btn {
    height: 56px!important;
  }
}



// CUSTOM THEME
// Thanks to https://app.wafrn.net/blog/robynne


  
  
  
  
  
  /* BACKGROUND */
  
  .mat-drawer-content {
  
  background-color: var(--main-bgcolor);
  
  }
  
  
  
  /* LINKS */
  
  a {
  
  color: var(--link-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  a:visited {
  
  color:var(--link-textcolor-visited);
  
  }
  
  a:hover {
  
  color: var(--link-textcolor-hover);
  
  transition: var(--color-trans);
  
  }
  
  a:active {
  
  color: var(--link-textcolor-hover);
  
  }
  
  
  
  /* BUTTONS - these may be overwritten by the class of the button, see below */
  
  button {
  
  background-color: var(--button-bgcolor);
  
  color: var(--main-textcolor);
  
  border-color: var(--button-accent-color);
  
  border-style: solid;
  
  border-width: 0px;
  
  border-radius: 3px;
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  button:hover {
  
  background-color: var(--button-bgcolor-hover);
  
  color: var(button-accent-color);
  
  border-color: var(--button-accent-color-hover);
  
  border-style: solid;
  
  border-width: 0px;
  
  border-radius: 3px;
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  button:active {
  
  background-color: var(--button-bgcolor-hover);
  
  color: var(button-accent-color);
  
  border-color: var(--button-accent-color-hover);
  
  border-style: solid;
  
  border-width: 0px;
  
  border-radius: 3px;
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  
  
  
  /* SIDE MENU */
  
  /*
  
  mat-drawer.side-menu {}
  
  img[alt="instance logo"] {}
  
  mat-drawer.side-menu hr {}
  
  mat-nav-list {}
  
  mat-nav-list app-menu-item {}
  
  */
  
  
  
  /* DASHBOARD TITLE */
  
  div.wafrn-container.mx-1 {
  
  display: none;
  
  background-color: var(--main-bgcolor);
  
  }
  
  div.wafrn-container.mx-1 h3 {
  
  display: none;
  
  font-family: sans-serif;
  
  }
  
  
  
  /* BUTTONS - use these i think */
  
  .mat-mdc-unelevated-button.mat-primary {
  
  background-color: var(--button-bgcolor);
  
  border-color: var(--button-accent-color);
  
  border-width: 0px;
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  .mat-mdc-unelevated-button.mat-primary:hover {
  
  background-color: var(--button-bgcolor-hover);
  
  border-color: var(--button-accent-color-hover);
  
  color:var(--main-textcolor);
  
  border-width: 0px;
  
  transition: var(--color-trans);
  
  }
  
  .mat-mdc-unelevated-button {
  
  background-color: var(--button-bgcolor);
  
  border-color: var(--button-accent-color);
  
  border-width: 0px;
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  .mat-mdc-unelevated-button:hover {
  
  background-color: var(--button-bgcolor-hover);
  
  border-color: var(--button-accent-color-hover);
  
  color:var(--main-textcolor);
  
  border-width: 0px;
  
  transition: var(--color-trans);
  
  }
  
  
  
  button[aria-label="Go back to the dashboard"] {
  
  background-color: var(--button-bgcolor);
  
  border-color: var(--button-accent-color);
  
  color:var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  button[aria-label="Go back to the dashboard"]:hover {
  
  background-color: var(--button-bgcolor-hover);
  
  border-color: var(--button-accent-color-hover);
  
  color:var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  
  
  
  /* LOADING - not quite sure this works */
  
  mat-spinner {
  
  width: 42px;
  
  height: 42px;
  
  }
  
  circle {
  
  color: #8531a9 !important;
  
  stroke-dasharray: 77px;
  
  stroke-width: 33px;
  
  }
  
  p#if-you-see-this-load-more-posts {
  
  color: var(--main-textcolor);
  
  }
  
  
  
  
  /* POPUP TOOLTIPS */
  
  .mdc-tooltip__surface {
  
  background-color: var(--popup-bgcolor) !important;
  
  color: var(--popup-textcolor) !important;
  
  border-radius: 2px;
  
  }
  
  
  
  
  /* UNIVERSAL WAFRN CONTAINER */
  
  .wafrn-container {
  
  background-color: var(--element-bgcolor) !important;
  
  color: var(--main-textcolor);
  
  border-radius: 0px;
  
  border-width: 0px;
  
  border-style: solid;
  
  border-color: var(--container-bordercolor);
  
  box-shadow: none;
  
  }
  
  
  
  
  /* PROFILE */
  
  
  
  
  
  app-view-blog mat-card.wafrn-container {
  
  padding: 15px !important;
  
  }
  
  /*
  
  app-view-blog img[alt="user avatar"] {}
  
  */
  
  
  
  /* UNFOLLOW BUTTON */
  
  .mat-mdc-unelevated-button.mat-warn {
  
  color: #131313 !important;
  
  background-color: #eb5573;
  
  transition: var(--color-trans);
  
  }
  
  .mat-mdc-unelevated-button.mat-warn:hover {
  
  background-color: #eb5573;
  
  transition: var(--color-trans);
  
  }
  
  
  
  /* FOLLOW COUNT */
  
  
  
  div.follow-counts {
  
  padding: 10px;
  
  border-radius: 15px;
  
  color: var(--button-accent-color);
  
  background-color: #2020209a;
  
  }
  
  
  
  
  
  /* TEXT EDITOR */
  
  .ql-snow > .ql-editor {
  
  background-color: var(--element-bgcolor);
  
  color: var(--main-textcolor) !important;
  
  max-height: 600px
  
  }
  
  .ql-snow > .ql-editor:focus {
  
  background-color: var(--element-bgcolor);
  
  color: var(--main-textcolor);
  
  }
  
  
  
  
  /* POSTS */
  
  
  
  /* POST CONTAINER */
  
  .mat-mdc-card {
  
  color: var(--main-textcolor);
  
  border-radius: 10px;
  
  border-color: var(--button-accent-color);
  
  background-color: #131313;
  
  padding-left: 0px !important;
  padding-right: 0px !important;

  
  margin-left: auto !important;
  
  margin-right: auto !important;
  
  box-shadow: none;
  
  }
  
  /* POSTER INFO */
  
  .original-poster-name {
  
  color: var(--username-textcolor) !important;
  
  transition: var(--color-trans);
  
  }
  
  .original-poster-name:hover {
  
  color: var(--username-textcolor-hover) !important;
  
  transition: var(--color-trans);
  
  }
  
  .original-poster-url {
  
  color: var(--url-textcolor);
  
  font-family: monospace;
  
  }
  
  .avatar {
  

  
  margin-left: 10px !important;
  
  }
  
  .avatar img {
  
  border-radius: 3px;
  

  
  }
  
  .user-name {
  
  color: var(--username-textcolor) !important;
  
  transition: var(--color-trans);
  
  }
  
  .user-name:hover {
  
  color: var(--username-textcolor-hover) !important;
  
  transition: var(--color-trans);
  
  }
  
  span.user-url {
  
  color: var(--url-textcolor);
  
  font-family: monospace;
  
  }
  
  /* FOLLOW BUTTON */
  
  button.follow-button {
  
  background: none !important;
  
  color: #0695cb !important;
  
  border: none !important;
  
  transition: var(--color-trans);
  
  }
  
  button.follow-button:hover {
  
  background: none !important;
  
  color: var(--link-textcolor-hover) !important;
  
  border: none !important;
  
  transition: var(--color-trans);
  
  }
  
  .mat-mdc-button-persistent-ripple {
  
  display: none;
  
  }
  
  
  
  /* POST DATE */
  
  div.date-line {
  
  padding-left: 10px;
  
  color: var(--button-accent-color);
  
  text-shadow:
  0px  0px .1rem #131313,
  1px  1px .1rem #131313,
  0px  0px .1rem #131313;
  
  }
  
  
  
  /* POST SHARE */
  
  app-post-actions button:hover {
  
  background: none !important;
  
  border-width: 0px;
  
  }
  
  .mat-mdc-menu-content svg, button svg {
  
  color: var(--button-accent-color);
  
  transition: var(--color-trans);
  
  }
  
  /* CONTENT WARNING */
  
  #fragment-content-warning {
  
  color: var(--main-textcolor);
  
  background-color: var(--element-bgcolor) !important;
  
  font-family: monospace;
  
  }

  /* POST TEXT */
  
  div.wafrn-text-default {
  
  color: var(--main-textcolor);
    
  //font-family: Helvetica, Arial, sans-serif;
  
  padding-left: 10px;
  padding-right: 10px;
  
  }
  
  /* MENTIONS */
  
  a.mention {
  
  color: var(--username-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  a.mention:hover {
  
  color: var(--username-textcolor-hover);
  
  transition: var(--color-trans);
  
  }
  
  
  /* IMAGES */
  
  app-wafrn-media img {
    
  transition: var(--image-transoff);
  
  background-color: #2020209a;
  
  }
  

  

  
  
  
  /* TAGS */
  
  a.tag {
  
  background-color: #0695cb !important;
  
  color: #131313 !important;
  
  transition: var(--color-trans);
  
  font-family: monospace;
  
  }
  
  a.tag:hover {
  
  color: var(--link-textcolor-hover) !important;
  
  transition: var(--color-trans);
  
  }
  
  
  
  /* container of quoted post */
  
  div.quoted-post {
  
  border-width: 1px;
  
  border-color: var(--button-accent-color);
  
  border-style: dashed;
    
  }
  
  
  
  /* REACTS */
  
  #emoji-reactions button {
  
  background-color: var(--element-bgcolor);
  
  border-width: 0px !important;
  
  transition: var(--color-trans);
  
  fill: var(--main-textcolor);
  
  }
  
  #emoji-reactions button:hover {
  
  background-color: var(--button-bgcolor-hover);
  
  transition: var(--color-trans);
  
  fill: var(--main-textcolor);
  
  }
  
  /*
  
  #emoji-reactions .mat-mdc-tooltip-trigger {}
  
  #emoji-reactions .mat-mdc-tooltip-trigger:hover {}
  
  */
  
  app-emoji-react svg {
  
  fill: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  app-emoji-react svg:hover {
  
  fill: var(--link-textcolor-hover);
  
  transition: var(--color-trans);
  
  }
  
  
  fa-icon[mattooltip="Quote woot"] {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Quote woot"]:hover {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Quick rewoot"] {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Quick rewoot"]:hover {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Delete rewoot"] {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Delete rewoot"]:hover {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Reply woot"] {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Reply woot"]:hover {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Like woot"] {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Like woot"]:hover {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Remove like"] {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Remove like"]:hover {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Delete woot"] {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }
  
  fa-icon[mattooltip="Delete woot"]:hover {
  
  color: var(--main-textcolor);
  
  transition: var(--color-trans);
  
  }

  /* EXPAND POST BUTTON */
  .expand-post-button {
  
  
  color: var(--button-accent-color) !important;
    
  transition: var(--color-trans);
  }

  .button-editor-cw {
    color: var(--button-accent-color) !important
  }
  


// END CUSTOM THEME