img, video {
  max-width: 100%;
  width: 100%;
}

.watermark {
  /* Used to position the watermark */
  position: relative;
}

.watermark__inner {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 100%;
  width: 100%;
}

.watermark__body {
  max-height: 15%;
  max-width: 15%;

}
