.ask-container {
  border-color: grey !important;
  padding: 0.5em;	
	cursor: pointer !important;
  border-radius: 12px;
  border: 1px solid var(--mat-sys-outline-variant);
  flex-shrink: 0;
  overflow: hidden;
  margin-bottom: 4px;
  position: relative;
}
