$narrow: 800px;

.post-emoji-preview {
  width: 32px;
  height: 32px;
}

.emoji-container {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  @media (max-width: $narrow) {
    flex-direction: column-reverse;
  }
}

.emoji-viewport {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.emoji-viewport ::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-bottom: 500px;
}

.emoji-header {
  text-align: left;
  justify-content: end !important;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.emoji-row {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  height: 50px;
  justify-content: center;
}

.emoji-item {
  width: 50px;
  height: 50px;
  font-size: 1rem;
}

.emoji-sidebar {
  display: flex;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  height: 300px;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  align-items: center;
  row-gap: 0.5rem;
  @media (max-width: $narrow) {
    flex-direction: row;
    height: 64px;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mat-sys-surface);
    z-index: 99;
  }
}
.emoji-sidebar-child {
  text-align: center;
  font-size: 1.3em;
}
.emoji-active-collection {
  background-color: var(--mat-sys-inverse-primary) !important;
}
.emoji-collection-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-decoration: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  span,
  img {
    width: 25px;
    height: 25px;
  }
}
