$narrow: 800px;

.emoji-collections {
  background-color: var(--mat-sys-surface-container-low);
  box-shadow: 0 0 6px var(--mat-sys-outline-variant);
  border-radius: 4px;
}

.post-emoji-preview {
  width: 32px;
  height: 32px;
}

.emoji-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media (max-width: $narrow) {
    flex-direction: column-reverse;
  }
}

.emoji-viewport {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.emoji-viewport ::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-bottom: 5px; // For overflow
}

.emoji-row {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  height: 50px;
  justify-content: flex-start;
  padding-inline: 16px;
}

.emoji-header {
  height: 3.5rem;
  align-items: center;
}

.emoji-header-text {
  border-bottom: 2px solid var(--mat-sys-outline-variant);
}

.emoji-header-count {
  color: var(--mat-sys-outline);
  font-size: 0.8em;
}

.emoji-item {
  width: 50px;
  height: 50px;
  font-size: 1rem;
  box-shadow: 0 0 4px var(--mat-sys-outline-variant);
}

.emoji-sidebar {
  padding: 0.25rem;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  background-color: var(--mat-sys-surface-container-highest);

  @media (max-width: $narrow) {
    display: flex;
    flex-direction: row;
    height: 64px;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mat-sys-surface);
    z-index: 99;
    column-gap: 0.5rem;
    padding-inline: 0.75rem;
  }
}

.emoji-sidebar-child {
  text-align: center;
  font-size: 1.3em;
}

.emoji-collection-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-decoration: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  span,
  img {
    width: 25px;
    height: 25px;
  }
}
.emoji-active-collection {
  background-color: var(--mat-sys-inverse-primary) !important;
}
