<div *ngIf="!loading && found" class="wafrn-container lg:px-4">
  <div id="firstPost" class="col-12 pb-6">
    <p-card class="align-items-center">
      <div class="flex justify-content-center flex-wrap">
        <img loading="lazy" style="max-width: 100%; max-height: 15vh;" [src]="avatarUrl">
      </div>
      <div class="flex justify-content-center flex-wrap">
        <div [innerText]="blogDetails.url" class="text-600 text-xl font-medium line-height-3"></div>
      </div>
      <div class="flex justify-content-center flex-wrap">
        <div [innerText]="blogDetails.name" class="text-600 text-xl font-medium line-height-3"></div>
      </div>
      <div class="flex justify-content-center flex-wrap mt-4 mb-2">
        <div [innerHtml]="blogDetails.description" class="text-600 font-medium line-height-3"></div>
      </div>
      <div *ngIf="blogDetails.url.startsWith('@')">
        Attention! This is an external user, and the profile might not be complete. To check this user's complete profile in their instanc <a [href]="blogDetails.remoteId" target="_blank"> click here</a>.</div>
      <div class="flex align-items-center justify-content-center w-full" style="margin-top: 1em">
        <p-splitButton [model]="splitButtonItems" *ngIf="followedUsers.indexOf(blogDetails.id) === -1 && userLoggedIn" pRipple label="Follow"
        (onClick)="followUser(blogDetails.id)"></p-splitButton>
<p-splitButton [model]="splitButtonItems" *ngIf="followedUsers.indexOf(blogDetails.id) !== -1 && userLoggedIn" pRipple label="Unfollow"
        (onClick)="unfollowUser(blogDetails.id)"></p-splitButton>
      </div>

    </p-card>
  </div>
</div>


<div *ngFor="let post of posts" defer (onLoad)="countViewedPost()">
  <ng-template>
  </ng-template>
  <app-post [post]="post"></app-post>
</div>


<div *ngIf="found" class="grid pb-6">
  <div class="col-12 sm:col-12 md:col-12 lg:col-5 margin-auto">
    <p-card class="flex justify-content-center flex-wrap">
      <p-progressSpinner class="flex align-items-center justify-content-center "></p-progressSpinner>

    </p-card>
  </div>
</div>

<app-pagenotfound *ngIf="!found" ></app-pagenotfound>


<p-dialog
[(visible)]="showModalTheme" header="This blog has a custom css theme" [modal]="true"
>
<div  class="p-grid">
  <p>This user has custom styles! would you like to enable custom themes from users?</p>
  <p>Select GLOW UP to allow custem themes from the users</p>
  <p>Select No thanks if you rather use the default wafrn theme for everything (Recomended if you suffer from epilepsy)</p>
  <p>If you would like to change your mind about this, just log out and log in again!</p>
  <button (click)="answerCustomThemeModal(2)" pButton pRipple label="GLOW UP" class="w-full"></button>
  <br>
  <br>
  <button (click)="answerCustomThemeModal(1)" pButton pRipple label="No thanks"  class="w-full"></button>
</div>
</p-dialog>
