<div *ngIf="!loading && found" class="wafrn-container lg:px-4">
  <div id="firstPost" class="col-12 pb-6">
    <p-card>
      <div class="flex justify-content-center flex-wrap">
        <img style="max-width: 100%; max-height: 15vh;" [src]="mediaUrl + blogDetails.avatar">
      </div>
      <div class="flex justify-content-center flex-wrap">
        <div [innerText]="blogDetails.url" class="text-600 text-xl font-medium line-height-3"></div>
      </div>
      <div class="flex justify-content-center flex-wrap mt-4 mb-2">
        <div [innerText]="blogDetails.description" class="text-600 font-medium line-height-3"></div>
      </div>
      <button *ngIf="followedUsers.indexOf(blogDetails.id) === -1 && userLoggedIn" pButton pRipple label="Follow"
                class="w-full" (click)="followUser(blogDetails.id)"></button>
      <button *ngIf="followedUsers.indexOf(blogDetails.id) !== -1 && userLoggedIn" pButton pRipple label="Unfollow"
                class="w-full" (click)="unfollowUser(blogDetails.id)"></button>
    </p-card>
  </div>
</div>


<div *ngFor="let post of posts" pDefer (onLoad)="countViewedPost()">
  <ng-template>
    <app-post [post]="post"></app-post>
  </ng-template>
</div>


<div *ngIf="found" class="grid pb-6">
  <div class="col-12 sm:col-12 md:col-12 lg:col-5 margin-auto">
    <p-card class="flex justify-content-center flex-wrap">
      <p-progressSpinner class="flex align-items-center justify-content-center "></p-progressSpinner>

    </p-card>
  </div>
</div>

<app-pagenotfound *ngIf="!found" ></app-pagenotfound>