@if (blogDetails) { @if (!loading) {
<mat-card class="wafrn-container p-3 lg:mx-4 mb-6">
  <div class="flex justify-content-center mb-2">
    <img
      loading="lazy"
      style="max-width: 100%; max-height: 15vh"
      [src]="avatarUrl"
      alt="user avatar"
      class="border-round-md"
    />
  </div>
  <div class="flex justify-content-center flex-wrap">
    <div
      [innerText]="blogDetails.name"
      class="text-xl font-medium line-height-3"
    ></div>
  </div>
  <div class="flex justify-content-center flex-wrap mb-2">
    <div [innerText]="blogDetails.url" class="text-600 line-height-3"></div>
  </div>
  @if (userLoggedIn) {
  <div *ngIf="userLoggedIn" class="flex gap-0 flex-nowrap w-min mx-auto">
    <button
      mat-flat-button
      [color]="
        followedUsers.indexOf(blogDetails.id) === -1 ? 'primary' : 'warn'
      "
      class="split-button-left"
      (click)="
        followedUsers.indexOf(blogDetails.id) === -1
          ? followUser(blogDetails.id)
          : unfollowUser(blogDetails.id)
      "
    >
      {{ followedUsers.indexOf(blogDetails.id) === -1 ? "Follow" : "Unfollow" }}
    </button>
    <button
      [matMenuTriggerFor]="menu"
      mat-flat-button
      [color]="
        followedUsers.indexOf(blogDetails.id) === -1 ? 'primary' : 'warn'
      "
      class="split-button-right"
    >
      <fa-icon [icon]="expandDownIcon"></fa-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu" xPosition="before">
    @if(!blogDetails.muted){
    <button mat-menu-item (click)="blockService.muteUser(this.blogDetails.id)">
      <fa-icon class="mr-2" [icon]="muteUserIcon"></fa-icon>Mute user
    </button>
    } @else {
    <button
      (click)="blockService.unmuteUser(this.blogDetails.id)"
      mat-menu-item
    >
      <fa-icon class="mr-2" [icon]="unmuteUserIcon"></fa-icon>Unmute user
    </button>
    } @if(!blogDetails.blocked) {
    <button mat-menu-item (click)="blockService.blockUser(this.blogDetails.id)">
      <fa-icon class="mr-2" [icon]="blockUserIcon"></fa-icon>Block user
    </button>
    } @else {
    <button
      mat-menu-item
      (click)="blockService.unblockUser(this.blogDetails.id)"
    >
      <fa-icon class="mr-2" [icon]="userIcon"></fa-icon>Unblock user
    </button>
    } @if(blogDetails.url.startsWith('@')) { @if( !blogDetails.serverBlocked) {
    <button
      mat-menu-item
      (click)="blockService.blockServer(this.blogDetails.id)"
    >
      <fa-icon class="mr-2" [icon]="unblockServerIcon"></fa-icon>Block server
    </button>
    } @else {
    <button
      mat-menu-item
      (click)="blockService.unblockServer(this.blogDetails.federatedHost.id)"
    >
      <fa-icon class="mr-2" [icon]="unblockServerIcon"></fa-icon>Unblock server
    </button>
    } }
  </mat-menu>
  }
  <div class="flex justify-content-center flex-wrap mt-3 mb-2">
    <div
      style="word-wrap: anywhere"
      [innerHtml]="blogDetails.description"
    ></div>
  </div>
  <div class="mt-6 text-600 text-sm" *ngIf="blogDetails.url.startsWith('@')">
    <strong>Attention!</strong>
    This is an external user, and the profile might not be complete.
    <br />
    To check this user's complete profile in their instance
    <a [href]="blogDetails.remoteId" target="_blank"> click here</a>.
  </div>
  <div *ngIf="!blogDetails.url.startsWith('@')" class="follow-counts">
    <div>
      <p>Following</p>
      <p class="big text-center">{{ blogDetails.followed }}</p>
    </div>
    <div>
      <p>Followed</p>
      <p class="big text-center">{{ blogDetails.followers }}</p>
    </div>
  </div>
</mat-card>
}
<div *ngFor="let post of posts; let indexOfelement = index">
  <ng-template> </ng-template>
  <app-post [post]="post"></app-post>
</div>
<footer class="p-4 flex gap-3 align-items-center">
  <mat-spinner *ngIf="!noMorePosts" diameter="42"></mat-spinner>
  <p
    [hidden]="loading || noMorePosts"
    id="if-you-see-this-load-more-posts"
    class="m-0 text-lg text-600"
  >
    Loading more...
  </p>
  <p *ngIf="loading" class="m-0 text-lg text-600">Loading more posts</p>
  <p *ngIf="noMorePosts" class="m-0 text-lg text-600">
    No more posts.<a
      *ngIf="blogDetails.url.startsWith('@')"
      [href]="blogDetails.remoteId"
      target="_blank"
      >This is an external user, there might be more posts in their profile.
      Click here to go to their original instance</a
    >.
  </p>
</footer>
} @else { @if(loading) {
<app-loader></app-loader>
} @else {
<app-pagenotfound />
} }

<button
  [routerLink]="'/dashboard'"
  mat-flat-button
  color="default"
  aria-label="Go back to the dashboard"
  style="position: fixed; z-index: 500; top: 1em; right: 0.5em"
>
  <fa-icon [icon]="homeIcon" />
</button>

<!--
<div  class="p-grid">
  <p>This user has custom styles! would you like to enable custom themes from users?</p>
  <p>Select GLOW UP to allow custem themes from the users</p>
  <p>Select No thanks if you rather use the default wafrn theme for everything (Recomended if you suffer from epilepsy)</p>
  <p>If you would like to change your mind about this, just log out and log in again!</p>
  <button (click)="answerCustomThemeModal(2)" pButton pRipple label="GLOW UP" class="w-full"></button>
  <br>
  <br>
  <button (click)="answerCustomThemeModal(1)" pButton pRipple label="No thanks"  class="w-full"></button>
</div>
</p-dialog>

-->
