<app-post
  [showFull]="true"
  *ngIf="!loading && postFound && post"
  [post]="post"
></app-post>
<app-loader *ngIf="loading"></app-loader>
<mat-card
  *ngIf="
    !loading &&
    postFound &&
    post &&
    post.length > 0 &&
    post[post.length - 1].descendents
  "
  class="p-3 mb-6 lg:mx-4 scalein wafrn-container"
>
  You mighw want to check the replies in the
  <a [href]="'/post/' + post[0].id">initial post</a>
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let element">
        <a
          class="flex align-items-center"
          [routerLink]="'/blog/' + element.user.url"
          ><div class="avatar-container">
            <img class="avatar" [src]="element.user.avatar" alt="" />
          </div>
          {{ element.user.url }}</a
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <!--TODO fix href so its not a full load-->
        <a [href]="'/post/' + element.id">
          @if(element?.content !== '') { replied to the post } @else { reblogged
          }
        </a>
      </td>
    </ng-container>

    <!-- Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [hidden]="
      !(
        !loading &&
        postFound &&
        post &&
        post.length > 0 &&
        post[post.length - 1].descendents
      )
    "
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
  <button
    *ngIf="
      !post[post.length - 1].remotePostId.startsWith(localUrl) && userLoggedIn
    "
    class="w-full"
    (click)="loadRepliesFromFediverse()"
    color="primary"
    mat-flat-button
  >
    Fetch more external replie
  </button>
</mat-card>

<button
  [routerLink]="'/dashboard'"
  mat-flat-button
  color="default"
  aria-label="Go back to the dashboard"
  style="position: fixed; z-index: 500; top: 1em; right: 0.5em"
>
  <fa-icon [icon]="homeIcon" />
</button>
