<!--
<div *ngIf="loading" class="grid pb-6 lg:px-4 scalein  wafrn-container">
  <div class="col-12 wafrn-post">
    <p-card>
<p-progressSpinner></p-progressSpinner>
    </p-card>
    </div>
    </div>
<app-post [showFull]="true" *ngIf="!loading && postFound && post" [post]="post"></app-post>

<div *ngIf="!loading && post &&  post[post.length - 1]" class="grid pb-6 lg:px-4 scalein  wafrn-container">
  <div class="col-12 wafrn-post">
    <p-card>
      <div *ngIf="post[0].id !== post[post.length -1].id">
        This are the responses to the current post. If you would like to see other parts of the thread please visit the <a [routerLink]="['/post', post[0].id]">initial post</a>
      </div>
      <p-table
      [value]="post[post.length - 1].descendents"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      >

      <ng-template pTemplate="header">
        <tr>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-post>
        <tr>
          <th><a [routerLink]="['/post', post.id]"><img class="avatar"  [src]="post.user.avatar"> {{post.user.url}} {{post.content === '' ? 'reblogged' : 'commented'}}</a></th>

        </tr>
      </ng-template>
      </p-table>
      <button
      pButton *ngIf="!post[post.length -1].remotePostId.startsWith(localUrl) && userLoggedIn"
      class="w-full"
      label="Fetch more external replies"
      (click)="loadRepliesFromFediverse()"
      ></button>
    </p-card>
    </div>
</div>

<app-pagenotfound *ngIf="!postFound"></app-pagenotfound>

-->

<app-post
  [showFull]="true"
  *ngIf="!loading && postFound && post"
  [post]="post"
></app-post>

<mat-card class="p-3 mb-6 lg:mx-4 scalein wafrn-container">
  <table
    *ngIf="
      !loading &&
      postFound &&
      post &&
      post.length > 0 &&
      post[post.length - 1].descendents
    "
    mat-table
    [dataSource]="dataSource"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="'/blog/' + element.user.url"
          ><img class="avatar" [src]="element.user.avatar" alt="" />{{
            element.user.url
          }}</a
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <!--TODO fix href so its not a full load-->
        <a [href]="'/post/' + element.id">
          @if(element?.content !== '') { replied to the post } @else { reblogged
          }
        </a>
      </td>
    </ng-container>

    <!-- Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    *ngIf="
      !loading &&
      postFound &&
      post &&
      post.length > 0 &&
      post[post.length - 1].descendents
    "
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</mat-card>
