<div class="grid pb-6 lg:px-4 scalein animation-duration-400 wafrn-container">
  <div class="col-12 wafrn-post">
      <div class="text-center mb-5">
        <img loading="lazy" [src]="logo" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Click on the button to activate your account</div>
        <span class="text-600 font-medium line-height-3">And just log in after that!</span>
        <br>
        <p-button (onClick)="activateAccount()" >Activate</p-button>

      </div>


    </div>
  </div>
