.avatar {
  height: 3em;
  width: 3em;
  margin-right: 4px;

  img {
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    //width: auto;
    max-height: 100%;
    object-fit: cover;
  }
}

.center-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

hr {
  margin: 12px -16px;
}

.follow-button {
  height: 24px;
  padding: 0;
  cursor: pointer;
  margin-left: 0px;
}

// mat-card elements are inserted
::ng-deep app-post:has(+ .reply-loader) > mat-card:last-child {
  margin-bottom: 0 !important;
}
