:host {
  --mat-button-text-container-height: 2.25rem;
  --mat-button-outlined-container-height: 2.25rem;
  --mat-button-outlined-outline-color: var(--mat-sys-outline-variant);
}

[mat-stroked-button].notes-link {
  padding-inline: 0.75rem;
  margin-left: -0.25rem;
}

.action-list button {
  aspect-ratio: 1 / 1;
  padding: 0;
}
