.avatar {
  max-height: 40px;
  max-width: 40px;
  width: 100%;
  margin: 0 4px;

  img {
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    width: auto;
  }
}

.center-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.share-button {
  gap: 0.5em;
}

.timestamp {
  font-size: 0.75em;
}

.blurry {
  filter: opacity(0);
}
