<mat-card
  [id]="'post-element-' + finalPost.id"
  class="p-3 mb-6 lg:mx-4 scalein wafrn-container"
>
  <div *ngIf="post.length > 1" class="center-text overflow-hidden">
    <div class="avatar">
      <img
        [routerLink]="'/blog/' + originalPoster.url"
        crossorigin="anonymous"
        loading="lazy"
        [src]="avatars[avatars.length - 1]"
        [alt]="originalPoster.url + ' avatar'"
        width="40"
        height="40"
      />
    </div>
    <div
      class="w-full white-space-nowrap overflow-hidden text-overflow-ellipsis flex flex-column"
    >
      <div>
        <a
          [routerLink]="'/blog/' + originalPoster.url"
          [innerHTML]="originalPoster.name"
        ></a>
      </div>
      <span class="font-small" [innerText]="originalPoster.url"></span>
    </div>
  </div>
  @for (content of post; track post; let index = $index) {
  <hr
    *ngIf="post.length > 1 && (content.content !== '' || content.tags.length)"
  />
  <div
    *ngIf="
      content.content !== '' ||
      (content.medias && content.medias.length > 0) ||
      index === 0 ||
      content.tags.length > 0
    "
    id="fragment"
  >
    <div
      id="fragment-header"
      class="flex mb-1 gap-1 md:gap-3 align-items-center"
      style="width: 100%"
    >
      <div class="center-text flex-grow-1 flex-shrink-1 min-w-0">
        <div class="avatar">
          <img
            [alt]="content.user.url + ' avatar'"
            [routerLink]="'/blog/' + content.user.url"
            crossorigin="anonymous"
            loading="lazy"
            [src]="avatars[index]"
            height="40"
            width="40"
          />
        </div>
        <div class="w-full overflow-hidden flex flex-column">
          <a
            class="max-w-full white-space-nowrap overflow-hidden text-overflow-ellipsis"
            [routerLink]="'/blog/' + content.user.url"
            [innerHTML]="content.user.name"
          ></a>
          <span
            class="font-small max-w-full white-space-nowrap overflow-hidden text-overflow-ellipsis"
            [innerText]="content.user.url"
          ></span>
        </div>
      </div>
      <div class="flex gap-0 flex-nowrap" id="post-actions">
        <button
          mat-flat-button
          color="primary"
          class="split-button-left"
          (click)="sharePost(content.id)"
        >
          <fa-icon [icon]="shareIcon"></fa-icon>
        </button>
        <button
          mat-flat-button
          color="primary"
          class="split-button-right"
          [matMenuTriggerFor]="menu"
        >
          <fa-icon [icon]="expandDownIcon"></fa-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu" xPosition="before">
        <button (click)="sharePost(content.id)" mat-menu-item>
          <fa-icon class="mr-2" [icon]="shareIcon"></fa-icon>Share with wafrn
        </button>
        <button (click)="shareOriginalPost(content.remotePostId)" mat-menu-item>
          <fa-icon class="mr-2" [icon]="shareExternalIcon"></fa-icon>Share
          external URL
        </button>
        @if(userLoggedIn) {
        <button (click)="replyPost(content)" mat-menu-item>
          <fa-icon class="mr-2" [icon]="reblogIcon"></fa-icon>Reblog
        </button>
        <button (click)="quickReblog(content.id)" mat-menu-item>
          <fa-icon class="mr-2" [icon]="quickReblogIcon"></fa-icon>Quick reblog
        </button>
        @if(content.userId !== myId){ @if
        (content.userLikesPostRelations.includes(myId)) {
        <button (click)="unlikePost(content)" mat-menu-item>
          <fa-icon class="mr-2" [icon]="clearHeartIcon"></fa-icon>Dislike post
        </button>
        } @else {
        <button (click)="likePost(content)" mat-menu-item>
          <fa-icon class="mr-2" [icon]="solidHeartIcon"></fa-icon>Like post
        </button>
        }
        <button (click)="reportPost(content)" mat-menu-item>
          <fa-icon class="mr-2" [icon]="reportIcon"></fa-icon>Report post
        </button>
        } @else {
        <button (click)="deletePost(content.id)" mat-menu-item>
          <fa-icon class="mr-2" [icon]="deleteIcon"></fa-icon>Delete post
        </button>
        } }
      </mat-menu>
    </div>
    <div class="date-line mb-1 flex gap-2 align-items-center">
      <span class="text-xs text-600">
        {{ content.createdAt | date : "short" }}
      </span>
      <button
        mat-stroked-button
        color="accent"
        *ngIf="followedUsers.indexOf(content.userId) === -1 && userLoggedIn"
        class="follow-button flex-shrink-0"
        (click)="followUser(content.userId)"
      >
        Follow
      </button>
    </div>
    <div id="fragment-content-warning" *ngIf="content.content_warning">
      <div class="fragment-content ql-editor -mx-3">
        {{ content.content_warning }}
      </div>
      <button
        mat-flat-button
        color="primary"
        (click)="dismissContentWarning()"
        class="w-full"
      >
        I understand this and I want to see this post
      </button>
    </div>
    <div
      id="fragment-content"
      *ngIf="content.content !== '' || content.tags.length"
      class="fragment-content ql-editor -mx-3"
      [ngClass]="{ blurry: content.content_warning }"
      [injectHTML]="content.content"
    ></div>
    <div
      id="fragment-polls"
      *ngIf="content.questionPoll"
      [ngClass]="{ blurry: content.content_warning }"
    >
      <app-poll [poll]="content.questionPoll"></app-poll>
    </div>
    <div
      id="fragment-medias"
      *ngFor="let media of content.medias"
      [ngClass]="{ blurry: content.content_warning }"
    >
      <app-wafrn-media [data]="media"></app-wafrn-media>
    </div>
    <div
      id="fragment-tags"
      class="flex flex-wrap gap-2 mt-4"
      *ngIf="content.tags && content.tags.length"
      [ngClass]="{ blurry: content.content_warning }"
    >
      @for(tag of content.tags; track tag) {
      <a
        mat-flat-button
        color="primary"
        class="tag"
        [routerLink]="'/dashboard/search/' + tag.tagName"
      >
        <span>#{{ tag.tagName }}</span>
      </a>
      }
    </div>
  </div>
  }
  <hr />
  <div class="grid">
    <div class="col-8 flex justify-content-start">
      <a [routerLink]="'/post/' + finalPost.id">Notes: {{ notes }}</a>
    </div>
    <div *ngIf="userLoggedIn" class="col-4 flex justify-content-end">
      <div class="grid" *ngIf="!loadingAction">
        <fa-icon
          (click)="quickReblog(finalPost.id)"
          class="pl-2 pr-2 hover-cursor"
          [icon]="quickReblogIcon"
        ></fa-icon>
        <fa-icon
          (click)="replyPost(finalPost)"
          class="pl-2 pr-2 hover-cursor"
          [icon]="reblogIcon"
        ></fa-icon>
        @if(finalPost.userId !== myId ) {
        @if(finalPost.userLikesPostRelations.includes(myId)) {
        <fa-icon
          (click)="unlikePost(finalPost)"
          class="pl-2 pr-2 hover-cursor"
          [icon]="clearHeartIcon"
        ></fa-icon>
        } @else {
        <fa-icon
          (click)="likePost(finalPost)"
          class="pl-2 pr-2 hover-cursor"
          [icon]="solidHeartIcon"
        ></fa-icon>
        }

        <fa-icon
          (click)="reportPost(finalPost)"
          class="pl-2 pr-2 hover-cursor"
          [icon]="reportIcon"
        ></fa-icon>
        } @else {
        <fa-icon
          (click)="deletePost(finalPost.id)"
          class="pl-2 pr-2 hover-cursor"
          [icon]="deleteIcon"
        ></fa-icon>
        }
      </div>
    </div>
  </div>
</mat-card>
