<div *ngIf="ready" class="grid pb-6 scalein animation-duration-400">
  <div
    class="col-12 sm:col-12 md:col-12 lg:col-5 margin-auto wafrn-post"
    >


    <p-card>
      <div class="grid">
        <div *ngIf=" post.length > 1" class="col-12 center-text">
          <img [src]="mediaBaseUrl + post[post.length - 1].user.avatar" class="avatar" />
          <a [routerLink]="'/blog/'+ urls[post.length -1]">{{post[post.length -1].user.url}}</a>
          reblogged
        </div>
      </div>

      <div *ngFor="let content of post; index as index">
        <p-divider *ngIf="post.length > 1 && content.content != '' || content.tags.length"></p-divider>
        <div *ngIf="content.content != '' || index == 0 || content.tags.length > 0" class="fragment-header">
          <div class="grid grid-nogutter" style="width: 100%;">
            <div class="col-7 center-text">
              <img [src]="mediaBaseUrl + content.user.avatar" class="avatar" /> <a
                [routerLink]="'/blog/'+ urls[index]">{{content.user.url}}</a>
            </div>
            <div class="col-4">
              <button *ngIf="followedUsers.indexOf(content.userId) === -1 && userLoggedIn" pButton pRipple label="Follow"
                class="w-80" (click)="followUser(content.userId)"></button>
            </div>
            <div class="col-1 center-text" style="justify-content: center;">
              <p-splitButton (onClick)="sharePost(content.id)" icon="pi pi-share-alt" [model]="buttonItems[content.id]" styleClass="p-button-sm mr-2 mb-2"></p-splitButton>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="content.content != '' || content.tags.length" class="fragment-content ql-editor" [injectHTML]="sanitizedPostContent[index]">
        </div>
        <div *ngIf="content.tags">
          <a *ngFor="let tag of content.tags" [routerLink]="'/dashboard/search/' + tag.tagName" >
            <p-tag class="wafrn-tag" [value]="'#' +tag.tagName"></p-tag>
          </a>

        </div>

      </div>

      <ng-template pTemplate="footer">
        <p-divider></p-divider>

        <div class="grid">
          <div class="col-8 flex justify-content-start">
            Notes: {{notes}}
          </div>
          <div *ngIf="userLoggedIn" class="col-4 flex justify-content-end">
            <div class="grid">
              <i
               #quickReblogButton (click)="quickReblogPanel.show($event, quickReblogButton)"
               *ngIf="!quickReblogDoneSuccessfully"
               class="col-4 pi pi-history hover-cursor" title="Quick Reblog"></i>
              <i (click)="launchReblog()" class="col-4 pi pi-replay hover-cursor" title="Reblog"></i>
              <i (click)="reportPost()" class="col-4 pi pi-exclamation-triangle hover-cursor" title="Report Post"></i>
            </div>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<p-overlayPanel (onShow)="showQuickReblogOverlay()"
(onHide)="hideQuickReblogOverlay()"
#quickReblogPanel >
  <ng-template pTemplate>
      <div>
        Quick reblog
      </div>
      <button pButton pRipple
        label="Quick reblog" class="w-full"
        (click)="quickReblogPanel.hide()" (click)="quickReblog()"
        [disabled]="reblogging"
        ></button>
  </ng-template>
</p-overlayPanel>
