.avatar {
  height: 40px;
  width: 40px;
  margin-right: 4px;

  img {
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    //width: auto;
    max-height: 100%;
    object-fit: cover;
  }
}

.center-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
}

.share-button {
  gap: 0.5em;
}

.split-button-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 0;
}

.split-button-right {
  width: 30px !important;
  min-width: unset !important;
  padding: 0 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #ffffff44;
}

hr {
  margin: 12px -16px;
}

.follow-button {
  height: 24px;
  padding: 0;
  cursor: pointer;
  margin-left: 0px;
}
