

html {
    background-color: rgb(32, 38, 46);
}


p-speeddial {
    position: fixed !important;
    top: 0;
    left: 0;
}

a:visited, a {
    color:  white,
}

#script-warn{
    width: 100%;
    color: rgb(56, 254, 241); //Wafrn blue
    text-align: center;
}

#notifications {
    position: fixed !important;
    top: 0;
    right: 0;
}
