/*
@font-face {
  font-family: noto-emoji-color;
  src: url(/assets/fonts/NotoColorEmoji-Regular.ttf);
}

@font-face {
  font-family: 'Noto Sans';
  src: url(/assets/fonts/NotoSans-Regular.ttf);
}

body, html, .p-component {
  font-family: "noto-sans", "noto-emoji-color", sans-serif;
}
*/
$wafrn-blue: rgb(56, 254, 241);
// $wafrn-dark: rgb(18, 95, 90);
$editor-buttons:  #ffffffde;

@use '@angular/material' as mat;
@include mat.core();



a {
  text-decoration: none;
}

@media( max-width: 992px ){
    .show-sidebar-menu-button {
        position: fixed !important;
        top: 1em;
        left: 1em;
        z-index: 9999;

    }
    .left-menu-hidden-mobile {
        display: none;
    }
}

@media( min-width: 992px ){
    .show-sidebar-menu-button {
        display: none;
    }
}


a, a:visited {
    color:  $wafrn-blue,
}


#script-warn{
    width: 100%;
    color: $wafrn-blue;
    text-align: center;
}

.ql-snow .ql-stroke {
    fill: none;
    stroke: $editor-buttons;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: $editor-buttons;
  }

.ql-snow .ql-picker{
    color: $editor-buttons;
}

.uploadImageButton {
    color: $editor-buttons
}

.ql-snow.ql-container {
    border-radius: 0 0 5px 5px;
}

.ql-snow > .ql-editor{
    background: #20262e !important;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
}

.ql-snow > .ql-editor.ql-blank::before {
    color: white;
    opacity: 0.5;
}

.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
}

.hover-cursor {
    cursor: pointer;
}

.margin-auto {
    margin:auto;
}

.wafrn-container {
    max-width: 800px;
}

@media (min-width: 992px) {
    .wafrn-container {
        margin-left: 360px;
    }
}

.mention {
  height: unset;
  width: unset;
  border-radius: unset;
  background-color: unset;
  padding: unset;
  margin-right: unset;
  -webkit-user-select: unset;
  user-select: unset;
}

.ql-mention-list-item.selected {
  background-color: #20262e;
}
.ql-mention-list-container {
  background-color: #2a323d;
}


.post-emoji{
  display: inline-flex;
  max-height: 1em;
  max-width: 1em;
}

.ql-picker-item {
  color: black;
}



 .font-small {
  font-size: 0.85em;
 }

 // youtube player

.yt-thumbnail {
  max-width: 100%;
  width: 100%;
}

.yt-watermark {
  max-width: 100%;
}

.watermark {
  /* Used to position the watermark */
  position: relative;
}

.watermark__inner {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 0px;

  /* Take full size */
  height: 100%;
  width: 100%;
}

.watermark__body {
  max-height: 15%;
  max-width: 15%;

}

