$wafrn-blue: rgb(56, 254, 241);
// $wafrn-dark: rgb(18, 95, 90);
$editor-buttons:  #ffffffde;

html {
    background-color: rgb(32, 38, 46);
}

@media( max-width: 992px ){
    .show-sidebar-menu-button {
        position: fixed !important;
        top: 0.5em;
        left: 0.5em;
    }
    .left-menu-hidden-mobile {
        display: none;
    }
}

@media( min-width: 992px ){
    .show-sidebar-menu-button {
        display: none;
    }
}


a, a:visited {
    color:  $wafrn-blue,
}


#script-warn{
    width: 100%;
    color: $wafrn-blue;
    text-align: center;
}

#notifications_badge {
    position: fixed !important;
    top: 0.5em;
    right: 0.5em;
}

.p-tag-value {
    max-width: 100%;
    word-break: break-word;
}

.ql-snow .ql-stroke {
    fill: none;
    stroke: $editor-buttons;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: $editor-buttons;
  }

.ql-snow .ql-picker{
    color: $editor-buttons;
}

.uploadImageButton {
    color: $editor-buttons
}

.ql-snow > .ql-editor{
    background: #20262e !important;
}

.grecaptcha-badge { 
    visibility: hidden;
}

.hover-cursor {
    cursor: pointer;
}

.margin-auto {
    margin:auto;
}