$wafrn-blue: rgb(56, 254, 241);
// $wafrn-dark: rgb(18, 95, 90);
$editor-buttons:  #ffffffde;

html {
    background-color: rgb(32, 38, 46);
}

@media( max-width: 992px ){
    .show-sidebar-menu-button {
        position: fixed !important;
        top: 1em;
        left: 1em;
        z-index: 9999
    }
    .left-menu-hidden-mobile {
        display: none;
    }
}

@media( min-width: 992px ){
    .show-sidebar-menu-button {
        display: none;
    }
}


a, a:visited {
    color:  $wafrn-blue,
}


#script-warn{
    width: 100%;
    color: $wafrn-blue;
    text-align: center;
}

#notifications_badge {
    position: fixed !important;
    top: 0.5em;
    right: 0.5em;
}

.p-tag-value {
    max-width: 100%;
    word-break: break-word;
}

.ql-snow .ql-stroke {
    fill: none;
    stroke: $editor-buttons;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: $editor-buttons;
  }

.ql-snow .ql-picker{
    color: $editor-buttons;
}

.uploadImageButton {
    color: $editor-buttons
}

.ql-snow.ql-container {
    border-radius: 0 0 5px 5px;
}

.ql-snow > .ql-editor{
    background: #20262e !important;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
}

.ql-snow > .ql-editor.ql-blank::before {
    color: white;
    opacity: 0.5;
}

.hover-cursor {
    cursor: pointer;
}

.margin-auto {
    margin:auto;
}

.wafrn-container {
    max-width: 800px;
}

@media (min-width: 992px) {
    .wafrn-container {
        margin-left: 360px;
    }
}


.p-dialog {
    max-width: 768px;
    width: 100%;
}

.p-dialog-maximized {
  max-width: 100vw !important;
}
.mention {
  height: unset;
  width: unset;
  border-radius: unset;
  background-color: unset;
  padding: unset;
  margin-right: unset;
  -webkit-user-select: unset;
  user-select: unset;
}

.ql-mention-list-item.selected {
  background-color: #20262e;
}
.ql-mention-list-container {
  background-color: #2a323d;
}

.p-carousel, p-carousel {
  width: 100%;
}
