<mat-card class="p-3 mb-6 lg:mx-4 scalein wafrn-container">
  <form
    [hidden]="loading"
    [formGroup]="editProfileForm"
    (ngSubmit)="onSubmit()"
  >
    <label for="avatar" class="block text-900 font-medium mb-2">
      Select a new avatar</label
    >
    <div class="pt-2 px-3 border-round-md" style="border: 1px solid #999">
      <label for="avatar" class="block text-900 font-medium mb-2"
        >Upload your avatar</label
      >
      <input
        formControlName="avatar"
        id="avatar"
        type="file"
        accept="image/jpeg,image/png,image/webp,image/gif"
        (change)="imgSelected($event)"
        class="w-full mb-3"
      />
    </div>

    <mat-form-field class="w-full">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>

    <quill-editor
      #quill
      formControlName="description"
      class="w-full"
      [modules]="{ toolbar: [] }"
    >
      <div
        quill-editor-toolbar
        style="border-top-left-radius: 5px; border-top-right-radius: 5px"
      >
        <button
          pButton
          type="button"
          class="ql-bold"
          aria-label="Bold"
          title="Bold"
        ></button>
        <button
          pButton
          type="button"
          class="ql-italic"
          aria-label="Italic"
          title="Italic"
        ></button>
        <button
          pButton
          type="button"
          class="ql-underline"
          aria-label="Underline"
          title="Underline"
        ></button>
        <button
          pButton
          type="button"
          class="ql-strike"
          aria-label="Strike"
          title="Strike"
        ></button>
        <button
          pButton
          type="button"
          class="ql-link"
          aria-label="Insert Link"
          title="Insert Link"
        ></button>
      </div>
    </quill-editor>
    <div class="flex align-items-center justify-content-between mb-6">
      <a
        routerLink="/recoverPassword"
        class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
        >To change your password, please use the reset password form</a
      >
    </div>
    <button
      [disabled]="!editProfileForm.valid"
      mat-flat-button
      color="primary"
      icon="pi pi-user"
      class="w-full"
    >
      Update profile
    </button>
  </form>
</mat-card>
