<mat-card class="p-3 mb-6 lg:mx-4 scalein wafrn-container">
  <form
    [hidden]="loading"
    [formGroup]="editProfileForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="pt-2 px-3 border-round-md mb-4" style="border: 1px solid #999">
      <label for="avatar" class="block text-900 font-medium mb-2"
        >Choose another avatar</label
      >
      <input
        formControlName="avatar"
        id="avatar"
        type="file"
        accept="image/jpeg,image/png,image/webp,image/gif"
        (change)="imgSelected($event)"
        class="w-full mb-3"
      />
    </div>

    <mat-form-field class="w-full">
      <mat-label>Display name (can contain emoji codes)</mat-label>
      <input formControlName="name" matInput />
    </mat-form-field>
    <span>Your bio/description. You can put emoji codes here too</span>
    <quill-editor
      #quill
      formControlName="description"
      class="w-full"
      [modules]="{ toolbar: [] }"
    >
      <div
        quill-editor-toolbar
        style="border-top-left-radius: 5px; border-top-right-radius: 5px"
      >
        <button
          pButton
          type="button"
          class="ql-bold"
          aria-label="Bold"
          title="Bold"
        ></button>
        <button
          pButton
          type="button"
          class="ql-italic"
          aria-label="Italic"
          title="Italic"
        ></button>
        <button
          pButton
          type="button"
          class="ql-underline"
          aria-label="Underline"
          title="Underline"
        ></button>
        <button
          pButton
          type="button"
          class="ql-strike"
          aria-label="Strike"
          title="Strike"
        ></button>
        <button
          pButton
          type="button"
          class="ql-link"
          aria-label="Insert Link"
          title="Insert Link"
        ></button>
      </div>
    </quill-editor>
    <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Avaiable Emojis
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-emoji-collections></app-emoji-collections>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
        <mat-panel-description>
          Wafrn options like federating with threads, default post privacy...
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="w-full">
        <mat-label>Default post privacy</mat-label>
        <mat-select [required]="true" formControlName="defaultPostEditorPrivacy">
          @for(option of privacyOptions; track option) {
          <mat-option [value]="option.level">{{ option.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="w-full">
        <mat-checkbox formControlName="disableForceAltText"></mat-checkbox>
        <mat-label
          >Allow uploading media without alt text (enable this only if you're
          evil)</mat-label
        >
      </div>
      <div class="w-full">
        <mat-checkbox formControlName="federateWithThreads"></mat-checkbox>
        <mat-label>Enable federation with Threads (meta/facebook)</mat-label>
      </div>
      <div class="flex align-items-center justify-content-between mb-6">
        Threads is a platform created by meta (formerly facebook). We understand
        both the fact that you might want to federate with them, and also that you
        may not. Hence why, unlike in other places, this kind of decisions are for
        you to make. By default meta will not see you, unless you mark this option
        in your profile.
      </div>
    </mat-expansion-panel>
  </mat-accordion>
    <hr />
    <div class="flex align-items-center justify-content-between mb-6">
      <a
        routerLink="/recoverPassword"
        class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
        >To change your password, please use the reset password form</a
      >
    </div>
    <button
      [disabled]="!editProfileForm.valid"
      mat-flat-button
      color="primary"
      icon="pi pi-user"
      class="w-full"
    >
      Update profile
    </button>
  </form>
</mat-card>
