:host {
  display: block;
  margin: 12px 0;
  --mdc-outlined-button-container-height: 32px;
  --mat-outlined-button-horizontal-padding: 8px;
  --mdc-outlined-button-container-shape: var(--mat-sys-corner-small);
  --mdc-protected-button-container-height: 32px;
  --mat-protected-button-horizontal-padding: 8px;
  --mdc-protected-button-container-shape: var(--mat-sys-corner-small);
  --mdc-protected-button-container-color: var(--mat-sys-surface-container-high);
}

.blurry {
  visibility: hidden;
}

.reacted {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.external-emoji {
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  color: var(--mat-sys-primary);
  height: var(--mdc-protected-button-container-height, 40px);
  font-family: var(--mdc-protected-button-label-text-font, var(--mat-sys-label-large-font));
  font-size: var(--mdc-protected-button-label-text-size, var(--mat-sys-label-large-size));
  letter-spacing: var(--mdc-protected-button-label-text-tracking, var(--mat-sys-label-large-tracking));
  text-transform: var(--mdc-protected-button-label-text-transform);
  font-weight: var(--mdc-protected-button-label-text-weight, var(--mat-sys-label-large-weight));
  padding: 0 var(--mat-protected-button-horizontal-padding, 24px);
  vertical-align: middle;
  border-radius: var(--mdc-protected-button-container-shape, var(--mat-sys-corner-full));
}
