:host {
  display: block;
  margin: 12px 0;
}

.blurry {
  visibility: hidden;
}

.reacted {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

#emoji-reactions > button {
  margin-right: 6px;
  margin-bottom: 4px;
  /* what professional engineering right here */
  vertical-align: -5.1%;
}
