:host {
  display: block;
  margin: 12px 0;
  --mdc-outlined-button-container-height: 32px;
  --mat-outlined-button-horizontal-padding: 8px;
  --mdc-outlined-button-container-shape: var(--mat-sys-corner-small);
  --mdc-protected-button-container-height: 32px;
  --mat-protected-button-horizontal-padding: 8px;
  --mdc-protected-button-container-shape: var(--mat-sys-corner-small);
  --mdc-protected-button-container-color: var(--mat-sys-surface-container);
}

.blurry {
  visibility: hidden;
}

.reacted {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

#emoji-reactions > button {
  margin-right: 6px;
  margin-bottom: 4px;
  /* what professional engineering right here */
  vertical-align: -5.1%;
}
