<!--
<div *ngFor="let post of posts; let indexOfelement=index;" defer (onLoad)="countViewedPost(indexOfelement)">
  <ng-template>
    <app-post [post]="post"></app-post>
  </ng-template>
</div>

<div class="grid pb-6">
  <div class="col-12 sm:col-12 md:col-12 lg:col-4 margin-auto">
    <p-card class="flex justify-content-center flex-wrap">
      <p-progressSpinner class="flex align-items-center justify-content-center "></p-progressSpinner>

    </p-card>
  </div>
</div>

-->
<div class="wafrn-container mx-1 md:mx-4 flex align-items-center">
  <h3 class="flex-grow-1 m-0 text-2xl">{{ title }}</h3>
  <button
    (click)="reloadPosts()"
    mat-icon-button
    color="default"
    aria-label="Refresh"
  >
    <fa-icon [icon]="reloadIcon" />
  </button>
</div>
<div *ngFor="let post of posts; let indexOfelement = index">
  <app-post [post]="post"></app-post>
</div>
<footer class="p-4 flex gap-3 align-items-center">
  <mat-spinner *ngIf="!noMorePosts" diameter="42"></mat-spinner>
  <p
    [hidden]="loadingPosts || noMorePosts"
    id="if-you-see-this-load-more-posts"
    class="m-0 text-lg text-600"
  >
    Loading more...
  </p>
  <p *ngIf="loadingPosts" class="m-0 text-lg text-600">Loading more posts</p>
  <p *ngIf="noMorePosts" class="m-0 text-lg text-600">No more posts found</p>
</footer>
