img  {
    max-height: 50vh;
    max-width: 100%;
    width: auto;
    height: auto;
    aspect-ratio: auto;

}

.media-container {

    background: var(--mat-sys-surface-container);
    position: relative;
    display: grid;
    border-radius: var(--mat-sys-corner-extra-small);
    padding: 0.5em;	
	cursor: pointer !important;
    border: 1px solid var(--mat-sys-outline-variant);
    flex-shrink: 0;
    overflow: hidden;
    margin-bottom: 4px;
    &:hover .toggle-button {
      opacity: 1;
    }
  }

  