.embed-link {
  display: block;
  color: var(--mat-sys-on-background);
  text-decoration: none;
}

.embed-container {
  background: var(--mat-sys-surface-container);
  border-radius: var(--mat-sys-corner-extra-small);
  cursor: pointer !important;
  border: 1px solid var(--mat-sys-outline-variant);
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
}

.embed-image-container {
  height: 100%;
  width: 6.5em;
}


.embed-text {
  padding: 0.75em 1em;

  .embed-image-container + & {
    border-left: 1px solid var(--mat-sys-outline-variant);
  }

  &:hover {
    .embed-title {
      text-decoration: underline;
    }
  }
}

.embed-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.375rem;
}

.embed-description {
  margin: 0;
  font-size: 0.85em;
  line-height: 1.2;
  margin-bottom: 0.375rem;
}

.embed-url {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.2;
  color: var(--mat-sys-outline);
}
